﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
body.spinner{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}



/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.top-Space {
    margin-top: 20px;
}
.dangerous {
    background-color: red;
}

.row-striped:nth-of-type(odd){
    background-color: lightgray;
}
.row-striped:nth-of-type(even){
    background-color: lightcyan;
}

.bondsman-font{
    font-family:Arial;
    font-size:10pt;
}

.bondsman-subject{
    font-size:15pt;
}

.bonds-activitynote{
    font-weight: bold;
}

.bondsman-noteentry:nth-child(odd){
    background-color: cadetblue
}
.container {
    width: 98%;
}
.navbar {
      width: 98%;
}


@media screen {
    	div#preloader {
		position: absolute;
		left: -9999px;
		top:  -9999px;
		}
	div#preloader img {
		display: block;
		}
}
@media (min-width: 200px) and (max-width: 800px) {/*for mobile phones/tablets*/
  .text-mobile{
      font-size: xx-large;
      line-height: 120%;
  }
  .glyphicon {
      font-size: x-large;
  }
  /* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
    .body-content {
        padding-left: 0px;
        padding-right: 5px;
    }
    .panel {
        margin-left: 2px;
        margin-right: 2px;
          margin-bottom: 5px;
          background-color: rgba(0, 0, 0, 0.0);
          border: 1px solid black;
          border-radius: 4px;
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .06);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);      
    }
}

@media (min-width: 1000px) {/*for computer*/
  .text-mobile{
      font-size:large;
      line-height: 120%;
  }
  /* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
    .body-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .row {
        padding-left: 5px;
        padding-right: 5px;
    }
    .panel {
        margin-left: 10px;
        margin-right: 10px;
          margin-bottom: 20px;
          background-color: rgba(0, 0, 0, 0.0);
          border: 1px solid black;
          border-radius: 4px;
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .06);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);      
    }
    .offsets td {
        width: 50px;
        height: 25px;
    }
}
