@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.SearchResult.BackgroundVm

@{
    ViewData["Title"] = "BackGround";
}

<h2>BackGround</h2>

<table class="table">
    <tr>
        <th class="col-md-1">
            @Html.DisplayName("Recipe")
            @Html.RouteLink("", "SubjectSearchRecipeForSubject", new { subjectId = @Model.SubjectId, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "Add Recipe" })
        </th>
        <th class="col-md-11">
            @Html.DisplayName("Recipe Item")
        </th>
    </tr>

    @foreach (var subjectSearchRecipeVm in Model.SubjectSearchRecipeListVm.SubjectSearchRecipes)
    {
        <tr>
            <td class="col-md-1">
                <h4>@Html.DisplayFor(modelItem => subjectSearchRecipeVm.SearchRecipe.Name)</h4>
                @*@Html.RouteLink("", "SubjectSearchRecipeItemForSubject", new { subjectId = @Model.SubjectId, searchRecipeId= @subjectSearchRecipeVm.SearchRecipe,  returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "Add Recipe Item" })*@
            </td>
            <td class="col-md-11">
                &nbsp;

                <table class="col-md-12">
                    @foreach (var searchRecipeItemVm in subjectSearchRecipeVm.SearchRecipe.SearchRecipeItems)
                {
                    var subjectSearchRecipeItem = subjectSearchRecipeVm.SubjectSearchRecipeItems.FirstOrDefault(a => a.SearchRecipeItemId == searchRecipeItemVm.Id);
                        <tr>
                            <td class="col-md-3">
                                <strong>@Html.DisplayFor(modelItem => searchRecipeItemVm.Name)</strong>
                                <a href="http://@searchRecipeItemVm.UrlOrSource" target="_blank">@searchRecipeItemVm.UrlOrSource</a>
                                @if (subjectSearchRecipeItem != null)
                                {
                                    @Html.RouteLink("", "SearchResultsForSubject", new { subjectId = @Model.SubjectId, subjectSearchRecipeItemId = @subjectSearchRecipeItem.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "Add Search Result" })
                                }
                            </td>
                            <td class="col-md-9">
                                &nbsp;
                                @{
                                    if (subjectSearchRecipeItem != null)
                                    {
                                        <table style="width: 100%;">
                                            @foreach (var searchResult in subjectSearchRecipeItem.SearchResults)
                                            {
                                                <tr>
                                                    <td style="border-top: thin solid black;"> @Html.DisplayFor(modelItem=> searchResult.UrlOrSource)</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => searchResult.ResultText)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => searchResult.Notes)
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                }
                            </td>
                        </tr>
                                    }
                </table>
            </td>
        </tr>
                                    }
</table>
<table style="width:100%">

    @if (Model.SearchResultWithoutParentVms != null)
    {
        <tr>
            <td colspan="3">
                <h4>
                    Additional Searches
                    @Html.RouteLink("", "SearchResultsForSubject", new { subjectId = @Model.SubjectId, subjectSearchRecipeItemId = 0, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "Add Search Result" })
                </h4>
            </td>
        </tr>

        foreach (var searchResultWithoutParent in Model.SearchResultWithoutParentVms)
        {
            @if (!string.IsNullOrWhiteSpace(searchResultWithoutParent.UrlOrSource))
            {
            <tr>
                <td colspan="3" style="border-top: thin solid black;"> <strong>@Html.DisplayFor(modelItem => searchResultWithoutParent.UrlOrSource)</strong></td>
            </tr>
            }
            @if (!string.IsNullOrWhiteSpace(searchResultWithoutParent.ResultText))
            {
            <tr>
                <td colspan="3">
                    @Html.DisplayFor(modelItem => searchResultWithoutParent.ResultText)
                </td>
            </tr>
            }
            @if (!string.IsNullOrWhiteSpace(searchResultWithoutParent.Notes))
            {
            <tr>
                <td colspan="3">
                    @Html.DisplayFor(modelItem => searchResultWithoutParent.Notes)
                </td>
            </tr>
            }
        }
    }

</table>
