@using Fugitive4.Web.Helpers;
@model Fugitive4.Web.ViewModels.SearchResult.SearchResultVm

@{
    ViewBag.Title = "Create SearchResult";
}

<form asp-action="Create" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="SearchResult" asp-action="Index">Cancel</a>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div> 

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="SubjectId" />
            <input type="hidden" asp-for="Username" />
            <input type="hidden" asp-for="SubjectSearchRecipeItemId" />
				<div class="row">
					<div class="form-group col-md-2">
						<label asp-for="Cost" class="control-label"></label>
						<input asp-for="Cost" class="form-control"/>
					
						<span asp-validation-for="Cost" class="text-danger" />
					</div>				
					<div class="form-group col-md-10">
						<label asp-for="UrlOrSource" class="control-label"></label>
						<input asp-for="UrlOrSource" class="form-control"/>
					
						<span asp-validation-for="UrlOrSource" class="text-danger" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label asp-for="ResultText" class="control-label"></label>
						<textarea rows="15" asp-for="ResultText" class="form-control"></textarea>
					
						<span asp-validation-for="ResultText" class="text-danger" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label asp-for="Notes" class="control-label"></label>
						<textarea asp-for="Notes" class="form-control"></textarea>
					
						<span asp-validation-for="Notes" class="text-danger" />
					</div>
				</div>
					
				
		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a href="@LinkHelper.GetIndexOrReturnDetail(Context, ViewBag.ReturnUrl)">Cancel</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        (function(){
            tinymce.init({ selector: '#Notes' });
            tinymce.init({ selector: '#ResultText' });
        })();
    </script>
}

