@model Fugitive4.Web.ViewModels.SubjectForBondsman.SubjectForBondsmanVm

@{
    ViewData["Title"] = "Details For Bondsman";
}

<h2>DetailsForBondsman</h2>
<div><!--Div for the whole page-->
    <div class="bondsman-subject"><!--Div for the Subject personal Info-->
        <h2>Subject</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Firstname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Middlename)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Middlename)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Lastname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
        </dl>
    </div>
    <div style="border: 2px solid black;"><!--Div for the Activity Notes-->
        @foreach (var activity in Model.ActivityNotes.OrderByDescending(n => n.ActivityDate))
    {
        var location = string.IsNullOrWhiteSpace(activity.Address) ? activity.Latitude + "," + activity.Longitude : activity.Address;
            <div class ="bondsman-noteentry" style="border-top: thin solid black"><!--This div is around each note entry--> 
                <div class="bonds-activitynote">
                    @activity.ActivityDate.ToString("M/d/yy h tt") <span> - @activity.PerformedBy</span>
                    @if (activity.RelatedSubject != null)
                    {
                        <span class="bonds-activitynote">  -  @(activity.RelatedSubject != null ? activity.RelatedSubject.Lastname + ", " + activity.RelatedSubject.Firstname : "")</span>
                    }
                </div>


                <div class="bondsman-font">@activity.Description</div>
            </div>

    }
    </div>
    <p>
        <a asp-action="Index">Back to List</a>
    </p>
</div>
