@model Fugitive4.Web.ViewModels.SubjectForBondsman.SubjectForBondsmanListVm
@{
    ViewBag.Title = "Manage Subject";
}
@functions{
    public string SetBackground(Fugitive4.Web.ViewModels.SubjectForBondsman.SubjectForBondsmanVm subject)
    {
        if (subject.CurrentBond != null && subject.CurrentBond.DefaultDate.HasValue)
        {
            var daysLeft = (subject.CurrentBond.DefaultDate.Value - DateTime.Now).Days;
            var monthsLeft = (daysLeft / 30) + (daysLeft % 30 > 0 ? 1 : 0);
            switch (monthsLeft)
            {
                case 1:
                    return "red";
                case 2:
                    return "#ff5050";
                case 3:
                    return "yellow";
                case 4:
                    return "gold";
                case 5:
                    return "#66ff66";
                case 6:
                    return "green";
            }
        }
        return "white";
    }
}
<h2>Index</h2>

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="60%">
                    Subject
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Subjects)
            {
                <tr style="background-color: @SetBackground(item);">
                    <td nowrap="nowrap">
                        <a asp-action="DetailsForBondsman" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Lastname),&nbsp;
                            @Html.DisplayFor(modelItem => item.Firstname)&nbsp;
                            @Html.DisplayFor(modelItem => item.Middlename)
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class=" footer-button-row">
    <div class="button-container text-right">
        @Html.ActionLink("Back to Subjects", "Index", "Subject", null, new { @class = "pull-left" })
    </div>
</div>
