﻿@{
    ViewData["Title"] = "About";
}
<div style="margin-top: 100px;"></div>
<div></div>
<p><img src="~/images/fugitive4.png" align="left" style="height: 200px; width: 255px;"/> <strong>Fugitive 4</strong> is the name of our proprietary software and our Fugitive Recovery Team. We understand that the fugitives we recover are your customers. As such, we do our best to treat them with respect while still getting them into court and protecting your business. We believe in using as little violence as possible to accomplish our mission.</p>
<p>As president Theodore Roosevelt once said, "Walk softly, and carry a big stick." We use a combination of training and equipment to stay safe while recovering fugitives. We know you are concerned about liability and we have your back. We are instructors in the Combative Concepts method of Police and Military Entry Training, as well as several martial arts. However, we won't show up at your customer's house looking like a SWAT Team (and we certainly won’t show up at the local Chief of Police’s house looking like criminals.) We behave as low-key and politely as is safely possible.</p>
<p>We have developed our own web software for tracking fugitives, which is also called Fugitive 4. We document all of our activities in the software, as well as wearing body cams on all of our recoveries. You can log into our software and see a running report of our activity on any of your cases, including maps, photos and video.</p>
<p><img src="~/images/Mike.png" align="right" style="width: 175px;height: 200px;"/>  <strong>Michael Sneen</strong> is a graduate of Southwestern College Police Academy, where he was class vice president and a leader in academics, combatives, and shooting. He was an instructor with Combative Concepts and has trained numerous SWAT, SEAL, and other special forces teams in Advanced Small Arms Tactics, Hostage Situation Management, Individual and Team Movements, and Room Entry Techniques using a combination of live and non-lethal projectile weapons. He worked for A&A Bail Bonds through John Regan and has made numerous bail recoveries. He has been a licensed Private Investigator specializing in surveillance and high risk personal protection. He has 35 years of martial arts experience and has trained in Goju karate, Ninpo Taijutsu, Boxing, Escrima and Kali, Aikijujutsu, Systema, and Krav Maga. He is also a licensed private pilot, ultralight and paraglider pilot and has held a divemaster rating in SCUBA.</p>
<p>He is also a senior software engineer and was founder and CEO of Comsolv Consulting. He later took a position with Cogenisys as CTO after Comsolv was acquired. He returned to software development as a contract developer after leaving Cogenisys. He specializes in Microsoft web technology and has worked on numerous large scale web software for the government and private industry, including the original enterprise software for Two Jinn/Aladdin Bail Bonds.</p>
<p><img src="~/images/DonWalker.jpg" align="right" style="width: 254px; height: 229px;"/><strong>Don Walker</strong> is a firearms and tactics instructor of the Combative Concepts CQB System in San Diego.
<p>Don is a Kung Fu San Soo Instructor.  He has trained in various martial arts for 30 years including His training includes Kali / Escrima, and boxing</p>
<p>He graduated college from L.A.C.C. in 1989, with Doctorate and B.S. degreesand continues to a practice.</p>
<p>Also a clinical hypnotist, Don works privately with individuals as well as in the corporate world.</p>
<p>As a corporate consultant, he specializes in teaching people how to minimize stress in the workplace, and practical negotiation strategies to de escalate challenging situations with potentially hostile clients.</p>
