﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Michael Sneen<br/>
    5946 Caminito Deporte<br />
    San Diego, Ca 92108<br />

    619-928-4340
</address>

<address>
    <strong>Support:</strong> <a href="mailto:michael.sneen@gmail.com">michael.sneen@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:michael.sneen@gmail.com">michael.sneen@gmail.com</a>
</address>
