@using Fugitive4.Web.Helpers;
@model Fugitive4.Web.ViewModels.SubjectRelationship.SubjectRelationshipVm

@{
    ViewBag.Title = "Create SubjectRelationship";
}

<form asp-action="Create" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="SubjectRelationship" asp-action="Index">Cancel</a>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
        <div class="panel-body">
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="SubjectId" />
            <div class="row"><!-- Start .row 1-->
                @*<div class="form-group col-md-4">
                    <label class="control-label">Subject</label>
                    <select asp-for="SubjectId" asp-items="@(new SelectList(Model.SubjectList, "Value", "Text"))"></select>
                    <span asp-validation-for="SubjectId" class="text-danger" />
                </div>*@
                <div class="form-group col-md-2">
                    <label asp-for="SortOrder" class="control-label"></label>
                    <input asp-for="SortOrder" class="form-control" />
                    <span asp-validation-for="SortOrder" class="text-danger" />
                </div>  
                <div class="form-group col-md-4">
                    <label class="control-label">Related To</label>
                    <select asp-for="RelatedSubjectId" asp-items="@(new SelectList(Model.RelatedSubjectList, "Value", "Text"))"></select>@*<input asp-for="RelatedNodeId" class="form-control"/>*@
                    <span asp-validation-for="RelatedSubjectId" class="text-danger" />
                </div>              
                <div class="form-group col-md-6">
                    <label class="control-label">Relationship</label>
                    <select asp-for="RelationshipTypeId" asp-items="@(new SelectList(Model.RelationshipTypeList, "Value", "Text"))"></select>
                    <span asp-validation-for="RelationshipTypeId" class="text-danger" />
                </div>
            </div><!-- END .row 1-->
            <div class="row"><!-- Start .row 2-->
                <div class="form-group col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div><!-- END .row 2-->
            <div class="row"><!-- Start .row 3-->
                <div class="form-group col-md-12">
                    <label asp-for="Notes" class="control-label"></label>
                    <textarea asp-for="Notes" class="form-control"></textarea>
                    <span asp-validation-for="Notes" class="text-danger" />
                </div>
            </div><!-- END .row 3-->
        </div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a href="@LinkHelper.GetIndexOrReturnDetail(Context, ViewBag.ReturnUrl)">Cancel</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        (function(){
            $("#RelatedSubjectId").chosen();
            $("#RelationshipTypeId").chosen();
            tinymce.init({ selector: '#Notes' });
            tinymce.init({ selector: '#Description' });
        })();

    </script>
}

