@model Fugitive4.Web.ViewModels.SubjectRelationship.RelationshipGraphVm

@{
    ViewBag.Title = "SubjectRelationship Detail";
}
<style>
    #cy {
        width: 100%;
        height: 90%;
        position: absolute;
        top: 50px;
        left: 0px;
         background: #fff;
    }
</style>
<div id="cy"></div> 
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/cytoscape/dist/cytoscape.min.js"></script>
<script src="//cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.0.2/cytoscape-cose-bilkent.js"></script>
    <script type="text/javascript">
        var cy = cytoscape({
            container: document.getElementById('cy'),
            layout: {
                name: 'cose-bilkent'
            },
            elements:
            {
                nodes: [
                    @foreach (var subject in Model.SubjectIds)
                    {
                        var color = "orangered";
                        switch (subject.NodeId.Substring(0,1))
                        {
                            case "a":
                                color = "blue";
                                break;
                            case "p":
                                color = "#900C3F";
                                break;
                            case "e":
                                color = "green";
                                break;
                        }
                        if (subject.IsPrimaryNode == true)
                        {
                            color = "black";
                        }
                        <text>
                        {
                    data: {
                        id: '@subject.NodeId',
                                name: '@subject.NodeName',
                                color: '@color'
                            }
                },
                        </text>
                    } //--End server foreach subject
                ],
                edges:[
                @foreach (var relationship in Model.Relationships)
                {
                    <text>
                    {
                                        data: {
                                            id: '@relationship.subjectId1@relationship.subjectId2',
                                            source: '@relationship.subjectId1',
                                            target: '@relationship.subjectId2',
                                            weight: '@relationship.Weight',
                                            color:  '@(relationship.Weight =="10" ? "red" : "#ccc")'
                                        }
                                    },
                    </text>
                }//--end server for each relationship
                ]
            },
            style: cytoscape.stylesheet()
                .selector('node')
                  .css({
                      'content': 'data(name)',
                      'font-size': 8,
                      'text-valign': 'center',
                      'color': 'data(color)', 
                      'background-color': '#fff',//'data(color)',
                      'width': '20px', 
                      'height': '10px' 
                  })
                .selector('edge')
                  .css({
                      'curve-style': 'bezier',
                      'target-arrow-color': '#ccc',
                      'line-color': 'data(color)',
                      'width': 'data(weight)'
                  })
                .selector(':selected')
                  .css({
                                'background-color': 'black',
                      'line-color': 'black',
                      'target-arrow-color': 'black',
                      'source-arrow-color': 'black'
                  })
                .selector('.faded')
                  .css({
                                'opacity': 0.25,
                      'text-opacity': 0
                  })
        });
        cy.layout();
    </script>
}
