@using Fugitive4.Web.Helpers;
@model Fugitive4.Web.ViewModels.StoredFile.StoredFileVm

@{
    ViewBag.Title = "Create StoredFile";
}

<form asp-action="Create" enctype="multipart/form-data" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="StoredFile" asp-action="Index">Cancel</a>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
		    <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="SubjectId" />
            <div class="row">
                <div class="form-group col-md-12">
                    <label id="lblWarning" style="display: none; color: red;"></label>
                    <label asp-for="FileName" class="control-label"></label>
                    <input type="file" id="uploadFile" name="uploadFile" class="form-control" accept=".jpg,.gif,.png,.bmp"/>
                </div>
		    </div><!-- END .row -->
		    <div class="row">
                <div class="form-group col-md-12">
                    <input asp-for="IsSubject" />
                    <label asp-for="IsSubject" class="control-label"></label>
                    <span asp-validation-for="IsSubject" class="text-danger" />
                </div>
		    </div>
		    <div class="row">
                <div class="form-group col-md-12">
                    <input asp-for="ShowOnDetail" />
                    <label asp-for="ShowOnDetail" class="control-label"></label>
                    <span asp-validation-for="ShowOnDetail" class="text-danger" />
                </div> 
		    </div>
		    <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Notes" class="control-label"></label>
                    <textarea asp-for="Notes" class="form-control" style="min-width:100%;"></textarea>
                    <span asp-validation-for="Notes" class="text-danger" />
                </div>		        
		    </div>
		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a href="@LinkHelper.GetIndexOrReturnDetail(Context, ViewBag.ReturnUrl)">Cancel</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#uploadFile').change(function () {
                var filename = $(this).val();

                var fileExtension = ['jpg', 'gif', 'png', 'bmp'];
                if ($.inArray(filename.split('.').pop().toLowerCase(), fileExtension) == -1) {
                    $(this).val("");
                    $('#lblWarning').show();
                    $('#lblWarning').text("Only 'jpg', 'gif', 'png', 'bmp' formats are allowed.  If you are trying to save a video, upload it to the YouTube channel and save the link in the Videos Section.");
                }
                else {
                    $('#lblWarning').hide();
                }
            });
        });
    </script>
}

