@model Fugitive4.Web.ViewModels.StoredFile.StoredFileVm

@{
    ViewBag.Title = "Edit StoredFile";
}

<form asp-action="Edit" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="StoredFile" asp-action="Index">Cancel</a>
				<input type="submit" value="Edit" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="SubjectId" />
            <input type="hidden" asp-for="FileName" />
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="FileName" class="col-md-2 control-label"></label>
						<input asp-for="FileName" class="form-control" disabled="disabled"/>
			            <span asp-validation-for="FileName" class="text-danger" />
					
						<span asp-validation-for="FileName" class="text-danger" />
					</div>
					@*<div class="form-group">
						<label asp-for="ContentType" class="col-md-2 control-label"></label>
						<input asp-for="ContentType" class="form-control"/>
			            <span asp-validation-for="ContentType" class="text-danger" />
					
						<span asp-validation-for="ContentType" class="text-danger" />
					</div>
					<div class="form-group">
						<label asp-for="FileContent" class="col-md-2 control-label"></label>
						<input asp-for="FileContent" class="form-control"/>
			            <span asp-validation-for="FileContent" class="text-danger" />
					
						<span asp-validation-for="FileContent" class="text-danger" />
					</div>
					<div class="form-group">
						<label asp-for="FileType" class="col-md-2 control-label"></label>
						<input asp-for="FileType" class="form-control"/>
			            <span asp-validation-for="FileType" class="text-danger" />
					
						<span asp-validation-for="FileType" class="text-danger" />
					</div>*@
					<div class="form-group">
						<label asp-for="Notes" class="col-md-2 control-label"></label>
						<input asp-for="Notes" class="form-control"/>
			<span asp-validation-for="Notes" class="text-danger" />
					
						<span asp-validation-for="Notes" class="text-danger" />
					</div>
                    
					<div class="form-group">
				
						<input asp-for="IsSubject" class="form-control"/>
						<label asp-for="IsSubject" class="col-md-2 control-label"></label>
					
						<span asp-validation-for="IsSubject" class="text-danger" />
					</div>
					<div class="form-group">
				
						<input asp-for="ShowOnDetail" class="form-control"/>
						<label asp-for="ShowOnDetail" class="col-md-2 control-label"></label>
					
						<span asp-validation-for="ShowOnDetail" class="text-danger" />
					</div>
						
				</div>
				<!-- END .col -->
			</div>
			<!-- END .row -->

		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a asp-controller="StoredFile" asp-action="Index">Cancel</a>
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
