@model Fugitive4.Web.ViewModels.StoredFile.StoredFileListVm

@{
    ViewBag.Title = "Manage StoredFile";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-default">
	<table class="table table-striped">
		<thead>
		<tr>
            @*<th>
                Photo
            </th>*@
		    <th>
		        @Html.DisplayNameFor(model => model.StoredFiles.FirstOrDefault().FileName)
		    </th>
		    <th>
		        @Html.DisplayNameFor(model => model.StoredFiles.FirstOrDefault().Notes)
		    </th>
            <th>
                @Html.DisplayNameFor(model => model.StoredFiles.FirstOrDefault().IsSubject)
            </th>
		    @*<th></th>*@
		</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.StoredFiles) 
			{
			<tr>
                @*<td>
                    <img class="img-responsive" src="@Url.Action("Download", "StoredFile", new {id = item.Id})" />
                </td>*@
			    <td>
                    <a asp-controller="StoredFile"
                       asp-action="Download"
                       asp-route-id="@item.Id">
                        View @Html.DisplayFor(modelItem => item.FileName)
                    </a>
			        
			    </td>				
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSubject)
                </td>
               @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
			</tr>
			}
		</tbody>
	</table>
</div>

<div class=" footer-button-row">
	<div class="button-container text-right">
		@Html.ActionLink("Back to Subjects", "Index", "Subject", null, new {@class="pull-left"})
		<a asp-action="Create">Create New</a>
	</div>
</div>

