@model Fugitive4.Web.ViewModels.SearchRecipe.SearchRecipeListVm

@{
    ViewBag.Title = "Manage SearchRecipe";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-default">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.SearchRecipes.FirstOrDefault().Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.SearchRecipes.FirstOrDefault().Description)
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.SearchRecipes) 
			{
			<tr>

			    <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
			    </td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>

			</tr>
			}
		</tbody>
	</table>
</div>

<div class=" footer-button-row">
	<div class="button-container text-right">
		@Html.ActionLink("Back to Subjects", "Index", "Subject", null, new {@class="pull-left"})
		<a asp-action="Create">Create New</a>
	</div>
</div>

