@model Fugitive4.Web.ViewModels.Team.TeamVm

@{
    ViewBag.Title = "Edit Team";
}

<form asp-action="Edit" asp-route-returnUrl="@ViewBag.ReturnUrl">     
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="Team" asp-action="Index">Cancel</a>
				<input type="submit" value="Edit" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
				<div class="row">
					<div class="form-group col-md-12">
						<label asp-for="Name" class="control-label"></label>
						<input asp-for="Name" class="form-control"/>
					
						<span asp-validation-for="Name" class="text-danger" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label asp-for="Description" class="control-label"></label>
						<input asp-for="Description" class="form-control"/>
					
						<span asp-validation-for="Description" class="text-danger" />
					</div>
				</div>
		    <div class="row">
		        <div class="form-group col-md-12">

		            <input asp-for="Disabled"/>
		            <label asp-for="Disabled" class="control-label"></label>

		            <span asp-validation-for="Disabled" class="text-danger" />
		        </div>
		    </div>
		    <div class="row">
		        <div class="form-group col-md-4">
		            <label asp-for="UserList" class="control-label"></label>
		            <div>
		                <select id="users" multiple="multiple" asp-for="UserIds" asp-items="@(new SelectList(Model.UserList, "Value", "Text"))"></select>
		            </div>

		        </div>
                <div class="form-group col-md-8">
                    <label asp-for="ReferrerList" class="control-label"></label>
                    <div>
                        <select id="referrers" multiple="multiple" asp-for="ReferrerIds" asp-items="@(new SelectList(Model.ReferrerList, "Value", "Text"))"></select>
                    </div>

                </div>
		    </div>
				
		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a asp-controller="Team" asp-action="Index">Cancel</a>
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script type="text/javascript">
        $("#users").chosen();
        $("#referrers").chosen();
    </script>
}
