@model Fugitive4.Web.ViewModels.EmailAddress.EmailAddressVm

@{
    ViewBag.Title = "Delete EmailAddress";
}


<div class="row title-row">
	<h1 class="pull-left">@ViewBag.Title</h1>

	<div class="button-container pull-right h1-row text-right">
		<form asp-action="Delete">
			<div class="form-actions no-color">
				<input type="submit" value="Delete" class="btn btn-default" /> |
				<a asp-action="Index">Back to List</a>
			</div>
		</form>
	</div>
</div>

<div class="content-wrapper">

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="alert alert-danger clearfix">
				<p class="pull-left">Are you sure you want to delete this EmailAddress?</p>
			</div>
			<!-- END .alert -->

			<div>
				<dl class="section-spacing clearfix dl-inline-dd dl-inline-label-right">
 
					<dt>@Html.DisplayNameFor(model => model.EmailAddress1)</dt>
					<dd>@Html.DisplayFor(model => model.EmailAddress1)</dd>

					<dt>@Html.DisplayNameFor(model => model.BelongsTo)</dt>
					<dd>@Html.DisplayFor(model => model.BelongsTo)</dd>

					<dt>@Html.DisplayNameFor(model => model.SubjectId)</dt>
					<dd>@Html.DisplayFor(model => model.SubjectId)</dd>

					<dt>@Html.DisplayNameFor(model => model.EmailTypeId)</dt>
					<dd>@Html.DisplayFor(model => model.EmailTypeId)</dd>

					<dt>@Html.DisplayNameFor(model => model.Notes)</dt>
					<dd>@Html.DisplayFor(model => model.Notes)</dd>

				</dl>

				@Html.HiddenFor(model=>model.Id)
				@Html.HiddenFor(model=>model.EmailAddress1)
				@Html.HiddenFor(model=>model.BelongsTo)
				@Html.HiddenFor(model=>model.SubjectId)
				@Html.HiddenFor(model=>model.EmailTypeId)
				@Html.HiddenFor(model=>model.Notes)
				<div class="button-container top-hr text-right">    
					<form asp-action="Delete">
						<div class="form-actions no-color">
							<input type="submit" value="Delete" class="btn btn-default" /> |
							<a asp-action="Index">Back to List</a>
						</div>
					</form>   
				</div>

			</div>
		</div>
	</div>
</div>
<!-- END .content-wrapper -->



