﻿@model DeleteUserViewModel
@{
    ViewData["Title"] = "Delete User";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="DeleteUser" method="post" class="form-horizontal" role="form">
    <h4>Delete a User.</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Users" class="control-label"></label>
        <div>
            <select id="UserId" asp-for="UserId" asp-items="@(new SelectList(Model.Users, "Value", "Text"))">
                <option value="0">Please select one</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-default">Delete</button>
        </div>
    </div>
</form>

