﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <div>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <div>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <div>
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Role" class="control-label"></label>
        <div>
            <select asp-for="Role">
                <option value="Member">Member</option>
                <option value="BailBondsman">Bondsman</option>
                <option value="Admin">Admin</option>
            </select>
        </div>
        <div>
            <label asp-for="Code" class="control-label"></label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="TeamId" class="control-label"></label>
        <div>
            <select id="TeamId" multiple="multiple" asp-for="TeamId" asp-items="@(new SelectList(Model.TeamList, "Value", "Text"))"></select>
        </div>

    </div>
    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
