@model Fugitive4.Web.ViewModels.Race.RaceVm

@{
    ViewBag.Title = "Create Race";
}

<form asp-action="Create">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="Race" asp-action="Index">Cancel</a>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Name" class="col-md-2 control-label"></label>
						<input asp-for="Name" class="form-control"/>
			<span asp-validation-for="Name" class="text-danger" />
					
						<span asp-validation-for="Name" class="text-danger" />
					</div>
						
				</div>
				<!-- END .col -->
			</div>
			<!-- END .row -->

		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a asp-controller="Race" asp-action="Index">Cancel</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

