@using Fugitive4.Web.Helpers;
@model Fugitive4.Web.ViewModels.Vehicle.VehicleVm

@{
    ViewBag.Title = "Create Vehicle";
}

<form asp-action="Create" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="Vehicle" asp-action="Index">Cancel</a>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
		    <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="SubjectId" />
            <div class="row"><!-- Start .row 1-->
                <div class="form-group col-md-2">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control"/>
                    <span asp-validation-for="Year" class="text-danger" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Make" class="control-label"></label>
                    <input asp-for="Make" class="form-control" />
                    <span asp-validation-for="Make" class="text-danger" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control"/>
                    <span asp-validation-for="Model" class="text-danger" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control"/>
                    <span asp-validation-for="Color" class="text-danger" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="PlateNumber" class="control-label"></label>
                    <input asp-for="PlateNumber" class="form-control" />
                    <span asp-validation-for="PlateNumber" class="text-danger" />
                </div>
		    </div><!-- END .row 1-->
            <div class="row"><!-- Start .row 2-->
                <div class="form-group col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" rows="10" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
		    </div><!-- END .row 2-->
            <div class="row"><!-- Start .row 3-->
                <div class="form-group col-md-12">
                    <label asp-for="BelongsTo" class="control-label"></label>
                    <input asp-for="BelongsTo" class="form-control" />
                    <span asp-validation-for="BelongsTo" class="text-danger" />
                </div>
		    </div><!-- END .row 3-->
		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a href="@LinkHelper.GetIndexOrReturnDetail(Context, ViewBag.ReturnUrl)">Cancel</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        (function(){
            tinymce.init({ selector: '#Description' });
        })();
    </script>
}

