@using Fugitive4.Web.Helpers;
@model Fugitive4.Web.ViewModels.BookingCharge.BookingChargeVm

@{
    ViewBag.Title = "Create BookingCharge";
}

<form asp-action="Create" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="BookingCharge" asp-action="Index">Cancel</a>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div> 

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
		    <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="BailBondId" />
				<div class="row">
		            <div class="form-group col-md-4">
						<label asp-for="ChargeName" class="control-label"></label>
						<input asp-for="ChargeName" class="form-control"/>
					
						<span asp-validation-for="ChargeName" class="text-danger" />
					</div>
				    <div class="form-group col-md-2">
				        <label asp-for="CodeNumber" class="control-label"></label>
				        <input asp-for="CodeNumber" class="form-control"/>
				        <span asp-validation-for="CodeNumber" class="text-danger" />
				    </div>
				    <div class="form-group col-md-2">
				        <label asp-for="DateOccurred" class="control-label"></label>
				        <input asp-for="DateOccurred" class="form-control"/>
				        <span asp-validation-for="DateOccurred" class="text-danger" />
				    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="ReportNumber" class="control-label"></label>
                        <input asp-for="ReportNumber" class="form-control" />
                        <span asp-validation-for="ReportNumber" class="text-danger" />
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="BookingNumber" class="control-label"></label>
                        <input asp-for="BookingNumber" class="form-control" />
                        <span asp-validation-for="BookingNumber" class="text-danger" />
                    </div>
				</div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <input asp-for="Felony" />
                        <label asp-for="Felony" class="control-label"></label>
                        <span asp-validation-for="Felony" class="text-danger" />
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Victim" class="control-label"></label>
                        <input asp-for="Victim" class="form-control" />
                        <span asp-validation-for="Victim" class="text-danger" />
                    </div>
                </div>
                <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Jurisdiction" class="control-label"></label>
                    <input asp-for="Jurisdiction" class="form-control"/>

                    <span asp-validation-for="Jurisdiction" class="text-danger" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="PoliceAgency" class="control-label"></label>
                    <input asp-for="PoliceAgency" class="form-control"/>

                    <span asp-validation-for="PoliceAgency" class="text-danger" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Detectives" class="control-label"></label>
                    <input asp-for="Detectives" class="form-control" />
                    <span asp-validation-for="Detectives" class="text-danger" />
                </div>
            </div>
				<div class="row">
		            <div class="form-group col-md-4">
						<label asp-for="Address1" class="control-label"></label>
						<input asp-for="Address1" class="form-control"/>
					
						<span asp-validation-for="Address1" class="text-danger" />
					</div>
		            <div class="form-group col-md-8">
						<label asp-for="Address2" class="control-label"></label>
						<input asp-for="Address2" class="form-control"/>
					
						<span asp-validation-for="Address2" class="text-danger" />
					</div>
				</div>
				<div class="row">
		            <div class="form-group col-md-4">
						<label asp-for="City" class="control-label"></label>
						<input asp-for="City" class="form-control"/>
					
						<span asp-validation-for="City" class="text-danger" />
					</div>
		            <div class="form-group col-md-4">
						<label asp-for="State" class="control-label"></label>
						<input asp-for="State" class="form-control"/>
					
						<span asp-validation-for="State" class="text-danger" />
					</div>

		            <div class="form-group col-md-4">
						<label asp-for="Zipcode" class="control-label"></label>
						<input asp-for="Zipcode" class="form-control"/>
					
						<span asp-validation-for="Zipcode" class="text-danger" />
					</div>
				</div>
				<div class="row">
		            <div class="form-group col-md-12">
						<label asp-for="Details" class="control-label"></label>
		                <textarea asp-for="Details" class="form-control"></textarea>				
						<span asp-validation-for="Details" class="text-danger" />
					</div>
				</div>
				<div class="row">
		            <div class="form-group col-md-12">
						<label asp-for="Description" class="control-label"></label>
		                <textarea asp-for="Description" class="form-control"></textarea>					
						<span asp-validation-for="Description" class="text-danger" />
					</div>
				</div>
				<div class="row">
		            <div class="form-group col-md-12">
						<label asp-for="Notes" class="control-label"></label>
		                <textarea asp-for="Notes" class="form-control"></textarea>					
						<span asp-validation-for="Notes" class="text-danger" />
					</div>
				</div>								
		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a href="@LinkHelper.GetIndexOrReturnDetail(Context, ViewBag.ReturnUrl)">Cancel</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        (function(){
            tinymce.init({ selector: '#Details' });
            tinymce.init({ selector: '#Description' });
            tinymce.init({ selector: '#Notes' });
        })();
    </script>
}

