@model Fugitive4.Web.ViewModels.BookingCharge.BookingChargeVm

@{
    ViewBag.Title = "BookingCharge Detail";
}
<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
			<div class="row">
				<div class="col-md-6">
			        <div class="pull-right">
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
			        </div>
								<div class="form-group">
									<label asp-for="BookingNumber" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.BookingNumber)
					
					</div>
								<div class="form-group">
									<label asp-for="ChargeName" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.ChargeName)
					
					</div>
								<div class="form-group">
									<label asp-for="CodeNumber" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.CodeNumber)
					
					</div>
								<div class="form-group">
				
						@Html.DisplayFor(model => model.Felony)
						<label asp-for="Felony" class="col-md-2 control-label"></label>
					
					</div>
								<div class="form-group">
									<label asp-for="DateOccurred" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.DateOccurred)
					
					</div>
								<div class="form-group">
									<label asp-for="Jurisdiction" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Jurisdiction)
					
					</div>
								<div class="form-group">
									<label asp-for="PoliceAgency" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.PoliceAgency)
					
					</div>
								<div class="form-group">
									<label asp-for="Address1" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Address1)
					
					</div>
								<div class="form-group">
									<label asp-for="Address2" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Address2)
					
					</div>
								<div class="form-group">
									<label asp-for="City" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.City)
					
					</div>
								<div class="form-group">
									<label asp-for="State" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.State)
					
					</div>
								<div class="form-group">
									<label asp-for="Zipcode" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Zipcode)
					
					</div>
								<div class="form-group">
									<label asp-for="Detectives" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Detectives)
					
					</div>
								<div class="form-group">
									<label asp-for="Victim" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Victim)
					
					</div>
								<div class="form-group">
									<label asp-for="Details" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Details)
					
					</div>
								<div class="form-group">
									<label asp-for="ReportNumber" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.ReportNumber)
					
					</div>
								<div class="form-group">
									<label asp-for="Description" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Description)
					
					</div>
								<div class="form-group">
									<label asp-for="Notes" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Notes)
					
					</div>
								<div class="form-group">
									<label asp-for="BailBondId" class="col-md-2 control-label"></label>
									<div class="col-md-10">
							@Html.DisplayFor(model => model.BailBondId)
						</div>
					
					</div>
						
				</div>
				<!-- END .col -->
			</div>
			<!-- END .row -->

		</div>
	</div>
</div>
<!-- END .content-wrapper -->
   

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
