@model Fugitive4.Web.ViewModels.BookingCharge.BookingChargeListVm

@{
    ViewBag.Title = "Manage BookingCharge";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-default">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.BookingCharges.FirstOrDefault().ChargeName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.BookingCharges.FirstOrDefault().CodeNumber)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.BookingCharges.FirstOrDefault().Felony)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.BookingCharges.FirstOrDefault().DateOccurred)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.BookingCharges.FirstOrDefault().Jurisdiction)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.BookingCharges.FirstOrDefault().PoliceAgency)
				</th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingCharges.FirstOrDefault().BookingNumber)
                </th>

				<th></th>	
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.BookingCharges) 
			{
			<tr>

				<td>
					@Html.DisplayFor(modelItem => item.ChargeName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CodeNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Felony)
				</td>
				<td>
					@(item.DateOccurred.HasValue ? item.DateOccurred.Value.ToString("M/d/yy") : "")
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Jurisdiction)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PoliceAgency)
				</td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingNumber)
                </td>

       <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
			</tr>
			}
		</tbody>
	</table>
</div>

<div class=" footer-button-row">
	<div class="button-container text-right">
		@Html.ActionLink("Back to Subjects", "Index", "Subject", null, new {@class="pull-left"})
		<a asp-action="Create">Create New</a>
	</div>
</div>

