@model Fugitive4.Web.ViewModels.DriverLicense.DriverLicenseVm

@{
    ViewBag.Title = "Delete DriverLicense";
}


<div class="row title-row">
	<h1 class="pull-left">@ViewBag.Title</h1>

	<div class="button-container pull-right h1-row text-right">
		<form asp-action="Delete">
			<div class="form-actions no-color">
				<input type="submit" value="Delete" class="btn btn-default" /> |
				<a asp-action="Index">Back to List</a>
			</div>
		</form>
	</div>
</div>

<div class="content-wrapper">

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="alert alert-danger clearfix">
				<p class="pull-left">Are you sure you want to delete this DriverLicense?</p>
			</div>
			<!-- END .alert -->

			<div>
				<dl class="section-spacing clearfix dl-inline-dd dl-inline-label-right">
 
					<dt>@Html.DisplayNameFor(model => model.DLNumber)</dt>
					<dd>@Html.DisplayFor(model => model.DLNumber)</dd>

					<dt>@Html.DisplayNameFor(model => model.FullName)</dt>
					<dd>@Html.DisplayFor(model => model.FullName)</dd>

					<dt>@Html.DisplayNameFor(model => model.IssuingState)</dt>
					<dd>@Html.DisplayFor(model => model.IssuingState)</dd>

					<dt>@Html.DisplayNameFor(model => model.IssueDate)</dt>
					<dd>@Html.DisplayFor(model => model.IssueDate)</dd>

					<dt>@Html.DisplayNameFor(model => model.ExpirationDate)</dt>
					<dd>@Html.DisplayFor(model => model.ExpirationDate)</dd>

					<dt>@Html.DisplayNameFor(model => model.Notes)</dt>
					<dd>@Html.DisplayFor(model => model.Notes)</dd>

					<dt>@Html.DisplayNameFor(model => model.SubjectId)</dt>
					<dd>@Html.DisplayFor(model => model.SubjectId)</dd>

					<dt>@Html.DisplayNameFor(model => model.Address1)</dt>
					<dd>@Html.DisplayFor(model => model.Address1)</dd>

					<dt>@Html.DisplayNameFor(model => model.Address2)</dt>
					<dd>@Html.DisplayFor(model => model.Address2)</dd>

					<dt>@Html.DisplayNameFor(model => model.City)</dt>
					<dd>@Html.DisplayFor(model => model.City)</dd>

					<dt>@Html.DisplayNameFor(model => model.State)</dt>
					<dd>@Html.DisplayFor(model => model.State)</dd>

					<dt>@Html.DisplayNameFor(model => model.Zipcode)</dt>
					<dd>@Html.DisplayFor(model => model.Zipcode)</dd>

				</dl>

				@Html.HiddenFor(model=>model.Id)
				@Html.HiddenFor(model=>model.DLNumber)
				@Html.HiddenFor(model=>model.FullName)
				@Html.HiddenFor(model=>model.IssuingState)
				@Html.HiddenFor(model=>model.IssueDate)
				@Html.HiddenFor(model=>model.ExpirationDate)
				@Html.HiddenFor(model=>model.Notes)
				@Html.HiddenFor(model=>model.SubjectId)
				@Html.HiddenFor(model=>model.Address1)
				@Html.HiddenFor(model=>model.Address2)
				@Html.HiddenFor(model=>model.City)
				@Html.HiddenFor(model=>model.State)
				@Html.HiddenFor(model=>model.Zipcode)
				<div class="button-container top-hr text-right">    
					<form asp-action="Delete">
						<div class="form-actions no-color">
							<input type="submit" value="Delete" class="btn btn-default" /> |
							<a asp-action="Index">Back to List</a>
						</div>
					</form>   
				</div>

			</div>
		</div>
	</div>
</div>
<!-- END .content-wrapper -->



