@using Fugitive4.Web.Helpers;
@model Fugitive4.Web.ViewModels.ActivityNote.ActivityNoteVm

@{
    ViewBag.Title = "Create ActivityNote";
}

<form asp-action="Create" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="ActivityNote" asp-action="Index">Cancel</a>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
		    <input type="hidden" asp-for="Id"/>
		    <input type="hidden" asp-for="ActivityDate" class="form-control"/>
		    <input type="hidden" asp-for="Latitude" class="form-control"/>
		    <input type="hidden" asp-for="Longitude" class="form-control"/>
		    <input type="hidden" asp-for="PerformedBy" class="form-control"/>
            <input type="hidden" asp-for="SubjectId" />
		    <div class="row">
		        <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Person</label>
                        <select asp-for="RelatedSubjectId" asp-items="@(new SelectList(Model.SubjectList, "Value", "Text"))"></select>
                    </div>
                    <div id="newSubject" class="col-md-8" >
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="Lastname" class="control-label"></label>
                                <input asp-for="Lastname" class="form-control" />
                                <span asp-validation-for="Lastname" class="text-danger" />
                            </div>
                            <div class="form-group col-md-8">
                                <label asp-for="Firstname" class="control-label"></label>
                                <input asp-for="Firstname" class="form-control" />
                                <span asp-validation-for="Firstname" class="text-danger" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="RaceId" class="control-label"></label>
                                <div>
                                    <select asp-for="RaceId" asp-items="@(new SelectList(Model.RaceList, "Value", "Text"))"></select>
                                </div>
                                <span asp-validation-for="RaceId" class="text-danger" />
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="GenderId" class="control-label"></label>
                                <div>
                                    <select asp-for="GenderId" asp-items="@(new SelectList(Model.GenderList, "Value", "Text"))"></select>
                                </div>
                                <span asp-validation-for="GenderId" class="text-danger" />
                            </div>
                        </div>
                    </div>
		        </div>

                <div class="form-group col-md-12">
                    <label class="control-label">Address</label>
                    <select asp-for="RelatedAddressId" asp-items="@(new SelectList(Model.AddressList, "Value", "Text"))"></select>
                </div>
		        <div class="form-group col-md-12">
		            <label asp-for="Address" class="control-label"></label>
		            <input asp-for="Address" class="form-control" style="min-width: 100%"/>
		            <span asp-validation-for="Address" class="text-danger" />
		        </div>
		    </div><!-- END .row -->
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description"
                              class="form-control" style="min-width: 100%" rows="10"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div><!-- END .row -->
		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a href="@LinkHelper.GetIndexOrReturnDetail(Context, ViewBag.ReturnUrl)">Cancel</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        (function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
            function showPosition(position) {
                $("#Latitude").val(position.coords.latitude);
                $("#Longitude").val(position.coords.longitude);
            }

            $("#RelatedSubjectId").change(function () {
                var $newSubjectDiv = $("#newSubject");
                if ($("#RelatedSubjectId").val() === '0') {
                    $newSubjectDiv.show();
                    $("#RaceId").chosen();
                    $("#GenderId").chosen();
                }
                else {
                    $newSubjectDiv.hide();
                }
            });
            $("#newSubject").hide();

            $("#RelatedSubjectId").chosen();
            $("#RelatedAddressId").chosen();
            
            tinymce.init({ selector: '#Description' });
        })();
    </script>
}

