@model Fugitive4.Web.ViewModels.ActivityNote.ActivityNoteVm

@{
    ViewBag.Title = "Edit ActivityNote";
}

<form asp-action="Edit" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="ActivityNote" asp-action="Index">Cancel</a>
				<input type="submit" value="Edit" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
		    <input type="hidden" asp-for="Id"/>
		    <input type="hidden" asp-for="Longitude"/>
		    <input type="hidden" asp-for="Longitude"/>
		    <input type="hidden" asp-for="PerformedBy"/>
		    <input type="hidden" asp-for="SubjectId"/>
		    <input type="hidden" asp-for="RelatedSubjectId"/>
		    <input type="hidden" asp-for="RelatedAddressId"/>
            <input type="hidden" asp-for="ActivityDate" />

		    <div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label asp-for="Address" class="col-md-2 control-label"></label>
						<input asp-for="Address" class="form-control"/>
			            <span asp-validation-for="Address" class="text-danger" />
					</div>
					<div class="form-group">
						<label asp-for="Description" class="col-md-2 control-label"></label>
                        <textarea asp-for="Description"
                                  class="form-control" style="min-width: 100%" rows="10"></textarea>
			            <span asp-validation-for="Description" class="text-danger" />
					</div>						
				</div>
				<!-- END .col -->
			</div>
			<!-- END .row -->

		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a asp-controller="ActivityNote" asp-action="Index">Cancel</a>
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        (function () {
            tinymce.init({ selector: '#Description' });
        })();
    </script>
}
