@model Fugitive4.Web.ViewModels.ActivityNote.ActivityNoteListVm

@{
    ViewBag.Title = "Manage ActivityNote";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-default">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.ActivityNotes.FirstOrDefault().ActivityDate)
				</th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityNotes.FirstOrDefault().Description)
                </th>
				<th>
					@Html.DisplayNameFor(model => model.ActivityNotes.FirstOrDefault().Address)
				</th>


				<th></th>	
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ActivityNotes) 
			{
			<tr>

				<td>
					@item.ActivityDate.ToString("M/d/yy h:m tt")
				</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>


       <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
			</tr>
			}
		</tbody>
	</table>
</div>

<div class=" footer-button-row">
	<div class="button-container text-right">
		@Html.ActionLink("Back to Subjects", "Index", "Subject", null, new {@class="pull-left"})
		<a asp-action="Create">Create New</a>
	</div>
</div>

