﻿@using System
@using Microsoft.ApplicationInsights.AspNet.Extensions
@model IEnumerable<Fugitive4.Web.ViewModels.ActivityNote.ActivityNoteVm>
@foreach (var activity in Model.OrderByDescending(n => n.ActivityDate))
{
    var location = string.IsNullOrWhiteSpace(activity.Address) ? activity.Latitude + "," + activity.Longitude : activity.Address;

        <div class="form-group col-md-12 panel panel-default">
            <div>
                <a href="https://maps.google.com?q=@location">
                    @activity.ActivityDate.Subtract(new TimeSpan(0,7,0,0,0)).ToString("M/d/yy h tt")
                    <span>
                        @{
                            var performedBy = "";
                            if (activity.PerformedBy.StartsWith("2d", StringComparison.InvariantCultureIgnoreCase))
                            { performedBy = "Don";}
                            else if (activity.PerformedBy.StartsWith("watkins", StringComparison.InvariantCultureIgnoreCase))
                            { performedBy = "Gio";}
                            else if (activity.PerformedBy.StartsWith("michael", StringComparison.InvariantCultureIgnoreCase))
                            { performedBy = "Mike"; }
                            else if (activity.PerformedBy.StartsWith("ncavendish", StringComparison.InvariantCultureIgnoreCase))
                            { performedBy = "Nick"; }
                        }
                        - @performedBy
                    </span>
                </a>
                @Html.RouteLink("", "ActivityNoteForSubjectEdit", new { subjectId = @activity.SubjectId, id = @activity.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-edit", title = "Edit Activity" })
                @if (activity.RelatedSubject != null)
                {
                <span>  -  @(activity.RelatedSubject != null ? activity.RelatedSubject.Lastname + ", " + activity.RelatedSubject.Firstname : "")</span>
                }
            </div>

            @if (activity.RelatedAddress != null)
            {
            <div>@(activity.RelatedAddress != null ? activity.RelatedAddress.Address1 + " " + activity.RelatedAddress.City : "")</div>
            }
            @if (!string.IsNullOrWhiteSpace(activity.Address))
            {
            <div>@activity.Address</div>
            }

            <div style="background-color: gainsboro;">@Html.Raw(activity.Description)</div>
        </div>

}


