﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model IEnumerable<Fugitive4.Web.ViewModels.Address.AddressVm>
@foreach (var address in Model)
{
    <div class="col-md-12" style='border-top: thin solid black;text-decoration: @(address.AddressType.Name=="Bad Address"?"line-through":"none");'>
        <span>
            <a href="https://www.google.com/maps/place/@address.Address1+@address.City+@address.State+@address.Zipcode">
                <span class="glyphicon glyphicon-home"></span>
                <span>@address.Address1</span>
                <span>@address.Address2</span>
                <span>@address.City,</span>
                <span>@address.State </span>
                <span>@address.Zipcode</span>
                <span> - @address.AddressType.Name</span>
                <span>Subject's Address <input asp-for="@address.BelongsToSubject" disabled="disabled" />  </span>
            </a>
        </span>
        <div>
            @Html.Raw(address.Notes)
            <span>
                @Html.RouteLink("", "AddressForSubjectEdit", new { subjectId = @address.SubjectId, id = @address.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-edit", title = "Edit Address" })
            </span>
        </div>
    </div>

    }


