﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@model IEnumerable<Fugitive4.Web.ViewModels.AKA.AKAVm>
@foreach (var aka in Model)
{
        <div>
            <span>@aka.Lastname,</span>
            <span>@aka.Firstname</span>
            <span>&nbsp;@aka.Middlename</span>
            @Html.RouteLink("", "AKAForSubjectEdit", new { subjectId = @aka.SubjectId, id=@aka.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-edit", title = "Edit Aka" })         
        </div>

}


