﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@model IEnumerable<Fugitive4.Web.ViewModels.BailBond.BailBondVm>
    @foreach (var bailBond in Model.OrderByDescending(b => b.DefaultDate))
    {
        <div style="border-top: thin solid black">
            <div>
                <span>
                    Default:<strong>@(bailBond.DefaultDate.HasValue ? bailBond.DefaultDate.Value.ToLongDateString() : "")</strong>
                </span>
                <span>
                    @Html.RouteLink("", "BailBondForSubjectEdit", new { subjectId = @bailBond.SubjectId, id = @bailBond.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-edit", title = "Edit Bail Bond" })
                </span>
            </div>
            <div>Issued:@(bailBond.IssueDate.HasValue ? bailBond.IssueDate.Value.ToShortDateString() : ""), </div>
            <div>
                <span>@bailBond.BondAmount?.ToString("c")</span>   
                                @{
                                    if (bailBond.BondAmount.HasValue)
                                    {
                                        <span style="color: red;"> - <strong>@((bailBond.BondAmount.Value / 10).ToString("c")) </strong></span>
                                    }
                                }
            </div>
            <div>Jurisdiction:@bailBond.Court</div>
            @Html.Partial("~/Views/Subject/_BookingChargeDetails.cshtml", bailBond)
        </div>
    }



