﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.BailBond.BailBondVm
<div class="glyphicon-indent-right">
    @Html.RouteLink("", "BookingChargeForBailBond", new { bailBondId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "New Booking Charge for this Bail Bond" })
    <label class="control-label">Booking Charges</label>
</div>

@foreach (var bookingCharge in Model.BookingCharges)
{
    <div style="border-top: thin solid black; margin-left: 20px;">
        <div>
            <span style="background-color: @(bookingCharge.Felony == true ? "#ff5050" : "white");">@bookingCharge.ChargeName</span>
            <span style="background-color: @(bookingCharge.Felony == true ? "#ff5050" : "white");">@bookingCharge.CodeNumber</span>
            <span>
                @Html.RouteLink("", "BookingChargeForBailBondEdit", new { bailBondId = @bookingCharge.BailBondId, id = @bookingCharge.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-edit", title = "Edit Charge" })
            </span>
        </div>
        <div>
            <span>Felony:<input asp-for="@bookingCharge.Felony" disabled="disabled"/></span>
            <span>Date: @(bookingCharge.DateOccurred?.ToShortDateString() ?? "")</span>
            @if (!string.IsNullOrWhiteSpace(bookingCharge.Details))
            {
                <div>@Html.Raw(bookingCharge.Details)</div>
            }
            @if (!string.IsNullOrWhiteSpace(bookingCharge.Description))
            {
                <div>@Html.Raw(bookingCharge.Description)</div>
            }
            @if (!string.IsNullOrWhiteSpace(bookingCharge.Notes))
            {
                <div>@Html.Raw(bookingCharge.Notes)</div>
            }
        </div>

    </div>
}