﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.Subject.SubjectVm


    <!--Addresses-->
    <div class="form-group col-md-12 panel panel-default">
        <div>
            @Html.RouteLink("", "AddressForSubject", new {subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl}, new {@class = "glyphicon glyphicon-plus", title = "Add Address"})
            <label class="control-label">Addresses</label>
        </div>
            @Html.Partial("~/Views/Subject/_AddressDetails.cshtml", Model.Addresses)
    </div>

    <!--Phone Numbers-->
    <div class="form-group col-md-12 panel panel-default">
        <div>
            @Html.RouteLink("", "PhoneNumberForSubject", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "Add Phone Number" })
            <label class="control-label">Phone Numbers</label>
        </div>
        @Html.Partial("~/Views/Subject/_PhoneNumberDetails.cshtml", Model.PhoneNumbers)
    </div>

    <!--Vehicles-->
    <div class="form-group col-md-12 panel panel-default">
        <div>
            @Html.RouteLink("", "VehicleForSubject", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "Add Vehicle" })
            <label class="control-label">Vehicles</label>
        </div>
        @Html.Partial("~/Views/Subject/_VehicleDetails", Model.Vehicles)
    </div>

    <!--Employers-->
    <div class="form-group col-md-12 panel panel-default">
        <div>
            @Html.RouteLink("", "EmployerForSubject", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "Add Employer" })
            <label class="control-label">Employers</label>
        </div>
        @Html.Partial("~/Views/Subject/_EmployerDetails", Model.Employers)
    </div>
