﻿@model Fugitive4.Web.ViewModels.Subject.SubjectVm
<div>
    <span>@Html.DisplayFor(model => model.Race.Name)</span>
    <span>@Html.DisplayFor(model => model.Gender.Name)</span>
    <span>@Html.DisplayFor(model => model.HairColor) Hair</span>
    <span>@Html.DisplayFor(model => model.EyeColor) Eye</span>
    <span>@Html.DisplayFor(model => model.Height)</span>
    <span>@Html.DisplayFor(model => model.Weight)</span>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="glyphicon glyphicon-edit" style="color: black;"></a>
</div>

