﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.Subject.SubjectVm
<div class="col-md-3">
    <!--Column Two on Desktop-->
    <div class="row">
        <div class="form-group col-md-12 panel panel-default">
                <!--Todos-->
                <span>
                    @Html.RouteLink("", "TodoForSubject", new {subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl}, new {@class = "glyphicon glyphicon-plus", @style = "margin-left:30px;", title = "Add Todo"})
                </span>
            <label class="control-label">Todo Items</label>
            <div  class="sortable">
                @foreach (var todo in @Model.Todos.OrderBy(x => (x.SortOrder ?? 0)))
                {
                    <div style="border-top: thin solid black" data-todoid="@todo.Id">
                        @{
                            var iconColor = "black";
                            if (todo.TodoStatus.Name == "Idea Only" || todo.TodoStatus.Name == "On Hold" | todo.TodoStatus.Name == "Done")
                            {
                                iconColor = "red";
                            }
                            else if (todo.TodoStatus.Name == "Not Started")
                            {
                                iconColor = "yellow";
                            }
                            else if (todo.TodoStatus.Name == "In Progress")
                            {
                                iconColor = "green";
                            }

                        }
                        <span class="glyphicon glyphicon-hand-right" style="color: @iconColor">
                            @Html.RouteLink("", "TodoForSubjectEdit", new {subjectId = @Model.Id, id = @todo.Id, returnUrl = ViewBag.ReturnUrl}, new {@class = "glyphicon glyphicon-edit", title = "Edit Todo"})
                        </span>
                        <span>@todo.Synopsis - @todo.AssignedTo</span>
                        <span>@Html.RouteLink("", "ActivityNoteForSubject", new {subjectId = @Model.Id, returnUrl = "/Subject/Details/" + Model.Id}, new {@class = "glyphicon glyphicon-plus", title = "New Activity to find this subject"})</span>
                    </div>
                }
            </div>
        </div>    
    </div>
    <div class="row">
        <!--Activity-->
        @*<div class="form-group col-md-12">*@
            <div class="top-Space">
                @Html.RouteLink("", "ActivityNoteForSubject", new { subjectId = @Model.Id, returnUrl = "/Subject/Details/" + Model.Id }, new { @class = "glyphicon glyphicon-plus", title = "New Activity to find this subject" })
                <label class="control-label">Activity Log</label>    
                <a href="#"
                   data-toggle="tooltip"
                   class="glyphicon glyphicon-info-sign"
                   title="An account of the bounty hunters’ activity. Date and time are followed by the first letter of the username, their location, and a description.">
                </a>
            </div>
            @Html.Partial("~/Views/Subject/_ActivityDetails.cshtml", Model.ActivityNotes)
        @*</div>*@
    </div>
</div><!--End Column Two on Desktop-->
<div class="col-md-3">
    <!--Column Three on Desktop-->
    <div class="row">
        <div class="col-md-12">
            <!--Related Subjects-->
            <div class="row">
                @Html.Partial("~/Views/Subject/_SubjectRelationshipDetails.cshtml")
            </div>
        </div>
    </div>
</div><!--End Column Three on Desktop-->
@*load fourth column here*@
