﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@model IEnumerable<Fugitive4.Web.ViewModels.DriverLicense.DriverLicenseVm>
@foreach (var driverLicense in Model)
{
    <div style="border-top: thin solid black">
        <span>@driverLicense.FullName</span>
        <span>State - @driverLicense.IssuingState</span>
        <span># - @driverLicense.DLNumber</span>
        <span>Exp - @(driverLicense.ExpirationDate.HasValue ? driverLicense.ExpirationDate.Value.ToShortDateString() : "")</span>
        <span>
            @Html.RouteLink("", "DriverLicenseForSubjectEdit", new { subjectId = @driverLicense.SubjectId, id = @driverLicense.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-edit", title = "Edit Driver License" })
        </span>
        <div>@driverLicense.Notes</div>
    </div>
}