﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@model IEnumerable<Fugitive4.Web.ViewModels.EmailAddress.EmailAddressVm>
@foreach (var emailAddress in Model)
{
    <div style="border-top: thin solid black">
        <span>@emailAddress.EmailAddress1, </span>
        <span>@emailAddress.EmailType.Name, </span>
        <span>@emailAddress.BelongsTo </span>
        <span>
            @Html.RouteLink("", "EmailAddressForSubjectEdit", new { subjectId = @emailAddress.SubjectId, id = @emailAddress.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-edit", title = "Edit Email" })
        </span>
    </div>
}


