﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@model IEnumerable<Fugitive4.Web.ViewModels.Employer.EmployerVm>
@foreach (var employer in Model)
{
    <div style="border-top: thin solid black">
        <div>
            <span class="glyphicon glyphicon-briefcase"></span>
            <span>@employer.Name</span>
            <span> - @employer.JobTitle </span>
            <span>
                @Html.RouteLink("", "EmployerForSubjectEdit", new {subjectId = @employer.SubjectId, id = @employer.Id, returnUrl = ViewBag.ReturnUrl}, new {@class = "glyphicon glyphicon-edit", title = "Edit Employer"})
            </span>
        </div>
        <div>
            @if (!string.IsNullOrWhiteSpace(employer.Address1))
            {
                <span>@employer.Address1 </span>
            }
            @if (!string.IsNullOrWhiteSpace(employer.City))
            {
                <span>@employer.City </span>
            }
        </div>
        <div>
            @if (employer.StartDate.HasValue)
            {
                <span>@employer.StartDate.Value.ToString("M/d/yy")</span>
            }
            @if (employer.EndDate.HasValue)
            {
                <span> - @employer.EndDate.Value.ToString("M/d/yy")</span>
            }
        </div>
        <div>@Html.Raw(employer.Notes)</div>
    </div>
}
