﻿@model Fugitive4.Web.ViewModels.Subject.SubjectVm
@{
    var felonies = Model.BailBonds.SelectMany(b => b.BookingCharges.Where(bc => bc.Felony == true));
    if (felonies != null && felonies.Count() > 0)
    {
        <div class="row flashing dangerous">
            @foreach (var bookingChargeVm in felonies)
            {
                <div class="col-md-12">@bookingChargeVm.CodeNumber</div>
                        <div class="col-md-12">@bookingChargeVm.ChargeName</div>
            }
        </div>
    }
}