﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.Subject.SubjectVm

<div class="col-md-3">
    <!--Beginning Column Four on Desktop-->
    <div class="row">
        <div class="form-group col-md-12 panel panel-default">
            <div class="top-Space">
                @Html.RouteLink("", "DriverLicenseForSubject", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "New Driver License" })
                <label class="control-label">Driver License</label>
            </div>
            @Html.Partial("~/Views/Subject/_DriverLicenseDetails.cshtml", Model.DriverLicenses)
        </div>

        <!--Bail Bonds-->
        <div class="form-group col-md-12 panel panel-default">
            <div>
                @Html.RouteLink("", "BailBondForSubject", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "New Bail Bond" })
                <label class="control-label">Bail Bonds</label>
            </div>
            @Html.Partial("~/Views/Subject/_BailBondDetails.cshtml", Model.BailBonds)
        </div>
        <!--Emails-->
        <div class="form-group col-md-12 panel panel-default">
            <div>
                @Html.RouteLink("", "EmailAddressForSubject", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "New Email Address" })
                <label class="control-label">Email Addresses</label>
            </div>
            @Html.Partial("~/Views/Subject/_EmailAddressDetails.cshtml", Model.EmailAddresses)
        </div>

        <!--Other Photos-->
        <div class="form-group col-md-12 panel panel-default">
            @Html.Partial("~/Views/Subject/_StoredFileDetails.cshtml", Model)
        </div>
        <!--Hyperlinks-->
        <div class="form-group col-md-12 panel panel-default">
            <div class="top-Space">
                @Html.RouteLink("", "HyperlinksForSubject", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "New Link" })
                <label class="control-label">Hyperlinks</label>
                <a href="#"
                   data-toggle="tooltip"
                   class="glyphicon glyphicon-info-sign"
                   title="Any social media or website where information is found on the subject">
                </a>
            </div>
            @Html.Partial("~/Views/Subject/_HyperlinkDetails.cshtml", Model.Hyperlinks)
        </div>

        <!--Search Results-->
        <div class="form-group col-md-12 panel panel-default">
            <div class="top-Space">
                @{
                    var cost = Model.SearchResults.Sum(x => x.Cost ?? 0);
                }
                @Html.RouteLink("", "SearchResultsForSubject", new {subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl, subjectSearchRecipeItemId = 0}, new {@class = "glyphicon glyphicon-plus", title = "New Search Result Raw Data"})
                <label class="control-label">Search Results - Total - @cost.ToString("c")</label>
                <a href="#"
                   data-toggle="tooltip"
                   class="glyphicon glyphicon-info-sign"
                   title="Any information found online through a search engine about the subject. The link to the site is followed by what information was found.">
                </a>
            </div>
            @Html.Partial("~/Views/Subject/_SearchResultDetails.cshtml", Model.SearchResults)
        </div>

        <!--Videos-->
        <div class="form-group col-md-12 panel panel-default">
            <div class="top-Space">
                @Html.RouteLink("", "VideosForSubject", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "New Video" })
                <label class="control-label">Videos</label>
            </div>
            @Html.Partial("~/Views/Subject/_VideoDetails.cshtml", Model.Videos)
        </div>
    </div>
</div><!--End Column Four on Desktop-->
