﻿@model IEnumerable<Fugitive4.Web.ViewModels.Hyperlink.HyperlinkVm>
@foreach (var hyperlink in Model)
{
    <div style="border-top: thin solid black">
        <a href="@hyperlink.Url" target="_blank">@hyperlink.Url</a>
        <div>@hyperlink.Notes</div>
    </div>
}


