﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@using Microsoft.Data.Entity.Query.Expressions
@model Fugitive4.Web.ViewModels.Subject.SubjectVm
@functions{
    public string GetColor()
    {
        if (Model.PerceivedThreatLevel > 7) return "red";
        else if (Model.PerceivedThreatLevel > 4) return "yellow";
        else return "white";
    }

    }
<div class="col-xs-12" style="background-color: @GetColor();">
    <a asp-action="Edit" asp-route-id="@Model.Id" style="color:black;">
        <div class="col-md-9">
            <h2>
                @Html.DisplayFor(model => model.Lastname),&nbsp;
                @Html.DisplayFor(model => model.Firstname)&nbsp;
                @Html.DisplayFor(model => model.Middlename)
                @Html.RouteLink("", "BackgroundForSubject", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "Add Search" })
                @*@Html.RouteLink("", "TodoForSubject", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-tag", @style="margin-left:30px;", title = "Add Todo" })
                @Html.RouteLink("", "TodoForSubjectIndex", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-tags", @style = "margin-left:30px;", title = "Todo List" })*@
            </h2>
        </div>
    </a>
        <div class="col-md-3">
            <h2>
                Threat Level @Html.DisplayFor(model => model.PerceivedThreatLevel)
                <a href="#"
                   data-toggle="tooltip"
                   class="glyphicon glyphicon-info-sign"
                   title="The threat level indicates how dangerous the subject is perceived to be on a scale of 0 to 10, with 10 being the greatest threat.">
                </a>
            </h2>
        </div>
    
</div>

