﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model IEnumerable<Fugitive4.Web.ViewModels.PhoneNumber.PhoneNumberVm>
@foreach (var phone in Model)
{
    <div style='border-top: thin solid black;text-decoration: @(phone.PhoneType.Name=="Bad Phone"?"line-through":"none");'>
        <span>
            <a href="tel:@phone.PhoneNumber1">
                <span class="glyphicon glyphicon-phone-alt"></span>
                <span>@phone.PhoneNumber1</span>
                <span> - @phone.PhoneType.Name</span>
                <span>@phone.BelongsTo</span>
            </a>
        </span>
        <span>
            @Html.RouteLink("", "PhoneNumberForSubjectEdit", new {subjectId = @phone.SubjectId, id = @phone.Id, returnUrl = ViewBag.ReturnUrl}, new {@class = "glyphicon glyphicon-edit", title = "Edit Phone"})
        </span>
        <div>
            @Html.Raw(phone.Notes)
        </div>
    </div>   
}



