﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@model IEnumerable<Fugitive4.Web.ViewModels.SearchResult.SearchResultVm>
@foreach (var searchResult in Model)
{
    <div style="border-top: thick solid black">
        <span>@searchResult.UrlOrSource</span>
        <span>
            @Html.RouteLink("", "SearchResultsForSubjectEdit", new { subjectId = @searchResult.SubjectId, id = @searchResult.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-edit", title = "Edit Search Results" })
        </span>
        <div>@Html.Raw(searchResult.ResultText)</div>       
        <div>@Html.Raw(searchResult.Notes)</div>
    </div>
}


