﻿@model Fugitive4.Web.ViewModels.Subject.SubjectSearchVm
<form asp-action="Search">
    <div class="form-horizontal col-md-12">        
        <span nowrap><input asp-for="SearchCriteria" class="form-inline" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a href="#"
               data-toggle="tooltip"
               class="glyphicon glyphicon-info-sign"
               title="Search box for subject(First, Middle, or Last name), or any related subject">
            </a>
        </span>
    </div>
</form>

