﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.Subject.SubjectVm
<div class="form-group">
    @Html.RouteLink("", "StoredFileForSubject", new {subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl}, new {@class = "glyphicon glyphicon-plus", title = "New File or Photo"})
    <label class="control-label">Photo or File</label>
    @*@Html.RouteLink("", "StoredFileIndexForSubject", new { subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-list", title = "File or Photo" })*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StoredFiles.FirstOrDefault().Notes)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StoredFiles)
            {
                <tr>
                    <td>
                        <a asp-controller="StoredFile"
                           asp-action="Download"
                           asp-route-id="@item.Id">
                            Download > @Html.DisplayFor(modelItem => item.Notes)
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>







