﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.SubjectRelationship.SubjectRelationshipVm
@if (!string.IsNullOrWhiteSpace(Model.Description))
{
    if (!string.IsNullOrWhiteSpace(Model.Notes))
    {
<div>
    @Html.Raw(Model.Description)
</div>
    }
    else
    {
<span>
    @Html.Raw(Model.Description)
</span>
    }
}
@if (!string.IsNullOrWhiteSpace(Model.Notes))
{
    <span>
        @Html.Raw(Model.Notes)
    </span>
}
@if (!string.IsNullOrWhiteSpace(Model.RelatedSubject.Notes))
{
    <span>
        @Html.Raw(Model.RelatedSubject.Notes)
    </span>
}
@if (!string.IsNullOrWhiteSpace(Model.Subject.Notes))
{
    <span>
        @Html.Raw(Model.Subject.Notes)
    </span>
}
