﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.StoredFile.StoredFileVm
<div>
    @Html.RouteLink("", "StoredFileForSubject", new { subjectId = @Model.SubjectId, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "Add Photo" })
    Photo
</div>

<div class="form-group">

    @{if (Model != null)
        {
            <img class="img-responsive" src="@Url.Action("Download", "StoredFile", new {id = Model.Id})" />
        }
    }
</div>





