﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.Subject.SubjectVm
<div>
    <label asp-for="DOB" class="control-label"></label>
    @if (Model.DOB.HasValue)
    {
        var age = DateTime.Now.Year - Model.DOB.Value.Year;
        <label class="control-label">Age - @age</label>
        @Model.DOB.Value.ToShortDateString()
        <a asp-action="Edit" asp-route-id="@Model.Id" class="glyphicon glyphicon-edit" style="color: black;"></a>
    }
</div>











