﻿@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.Subject.SubjectVm
<div class="col-md-12">
    @Html.ActionLink("", "Create", "Subject", new { returnUrl = ViewBag.ReturnUrl, relatedSubjectId = Model.Id }, new { @class = "glyphicon glyphicon-plus", title = "New Related Subject" })
    <label class="control-label">New Contact Related to @Model.Lastname</label>
    <a href="#"
       data-toggle="tooltip"
       class="glyphicon glyphicon-info-sign"
       title="A new related person or friend of the subject.">
    </a>
</div>

<div class="panel-group subject-relationship-sortable">
    @foreach (var subjectRelationship in Model.SubjectRelationships)
    {
        <div class="col-md-12 panel panel-default" data-subjectrelationshipid="@subjectRelationship.Id" style='text-decoration: @(subjectRelationship.RelationshipType.Name=="Not Useful"?"line-through":"none");'>
                @if (Model.Id == subjectRelationship.SubjectId)
                {
                    if (subjectRelationship.RelatedSubject != null)
                    {                       
                            <span>
                                @Html.ActionLink("", "Details", "Subject", new { id = @subjectRelationship.RelatedSubject.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-user", title = "Related Subject" })
                            </span>
                            <a asp-action="Edit" asp-controller="Subject" asp-route-id="@subjectRelationship.RelatedSubjectId">
                                <span>@subjectRelationship.RelatedSubject.Lastname,  @subjectRelationship.RelatedSubject.Firstname - @subjectRelationship.RelationshipType.Name</span>
                            </a>
                            <span>
                                <a asp-action="Edit" asp-controller="SubjectRelationship" asp-route-id="@subjectRelationship.Id">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </span>
                            @Html.Partial("~/Views/Subject/_SubjectRelationshipNotes.cshtml", subjectRelationship)
                            <div class="col-md-12 panel-body">
                                @Html.Partial("~/Views/Subject/_AddressDetails.cshtml", subjectRelationship.RelatedSubject.Addresses)
                            </div>
                            <div class="col-md-12 panel-body">
                                @Html.Partial("~/Views/Subject/_PhoneNumberDetails.cshtml", subjectRelationship.RelatedSubject.PhoneNumbers)
                            </div>                     
                    }
                }
                else if (Model.Id == subjectRelationship.RelatedSubjectId)
                {
                    if (subjectRelationship.Subject != null)
                    {
                            <span>
                                @Html.ActionLink("", "Details", "Subject", new { id = @subjectRelationship.Subject.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-user", title = "Related Subject" })
                            </span>
                            <a asp-action="Edit" asp-controller="Subject" asp-route-id="@subjectRelationship.SubjectId">
                                <span>@subjectRelationship.Subject.Lastname,  @subjectRelationship.Subject.Firstname - @subjectRelationship.RelationshipType.Name</span>
                            </a>
                            <span>
                                <a asp-action="Edit" asp-controller="SubjectRelationship" asp-route-id="@subjectRelationship.Id">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </span>
                            @Html.Partial("~/Views/Subject/_SubjectRelationshipNotes.cshtml", subjectRelationship)

                            <div class="col-md-12">
                                @Html.Partial("~/Views/Subject/_AddressDetails.cshtml", subjectRelationship.Subject.Addresses)
                            </div>
                            <div class="col-md-12">
                                @Html.Partial("~/Views/Subject/_PhoneNumberDetails.cshtml", subjectRelationship.Subject.PhoneNumbers)
                            </div>
                    }
                }
        </div>
    }
</div>

