﻿@model IEnumerable<Fugitive4.Web.ViewModels.Vehicle.VehicleVm>
@foreach (var vehicle in Model)
{
    <div style="border-top: thin solid black">
        <span class="glyphicon glyphican-road"></span>
        <span>@vehicle.Make</span>
        <span>@vehicle.Model </span>
        <span>@vehicle.Year </span>
        <span>@vehicle.Color </span>
        <span>@vehicle.BelongsTo </span>
        <span>@Html.Raw(vehicle.Description)</span>
        @Html.RouteLink("", "VehicleForSubjectEdit", new {subjectId = @vehicle.SubjectId, id = @vehicle.Id, returnUrl = ViewBag.ReturnUrl}, new {@class = "glyphicon glyphicon-edit", title = "Edit Vehicle"})
    </div>
}


