@using Fugitive4.Web.Helpers;
@model Fugitive4.Web.ViewModels.Subject.SubjectVm

@{
    ViewBag.Title = "Create Subject";
}

<form asp-action="Create" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="Subject" asp-action="Index">Cancel</a>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
            <div class="row"><!--Related Subject Section-->
                @if (Model.RelatedSubject != null)
                {
                    <div class="col-md-12" style="border-bottom: thin solid black">
                        <!--Related Subject-->
                        <div class="form-group">
                            <input asp-for="RelatedSubject.RelatedSubjectId" type="hidden" />
                        </div>
                        <div class="form-group">
                            <label asp-for="RelatedSubject.RelationshipTypeId" class="control-label"></label>
                            <div>
                                <select asp-for="RelatedSubject.RelationshipTypeId" asp-items="@(new SelectList(Model.RelatedSubject.RelationshipTypeList,"Value", "Text"))"></select>
                            </div>
                            <span asp-validation-for="RelatedSubject.RelationshipTypeId" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="RelatedSubject.Notes" class="control-label"></label>
                            <textarea asp-for="RelatedSubject.Notes" class="form-control" style="min-width: 100%;min-height: 50px;"></textarea>
                            <span asp-validation-for="RelatedSubject.Notes" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="RelatedSubject.Description" class="control-label"></label>
                            <textarea asp-for="RelatedSubject.Description" class="form-control" style="min-width: 100%;min-height: 50px;"></textarea>
                            <span asp-validation-for="RelatedSubject.Description" class="text-danger" />
                        </div>

                    </div>
                    <hr />
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label asp-for="ReferrerId" class="control-label"></label><label>&nbsp;(Bail Bond Company)</label>
                            <div class="col-md-10">
                                <select asp-for="ReferrerId" asp-items="@(new SelectList(Model.ReferrerList, "Value", "Text"))"></select>
                            </div>
                            <span asp-validation-for="ReferrerId" class="text-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Lastname" class="control-label"></label>
                            <input asp-for="Lastname" class="form-control" />
                            <span asp-validation-for="Lastname" class="text-danger" />
                        </div>                        
                        <div class="form-group col-md-4">
                            <label asp-for="Firstname" class="control-label"></label>
                            <input asp-for="Firstname" class="form-control"/>
                            <span asp-validation-for="Firstname" class="text-danger" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Middlename" class="control-label"></label>
                            <input asp-for="Middlename" class="form-control"/>
                            <span asp-validation-for="Middlename" class="text-danger" />
                        </div>
                    </div>

                    <div class="row"><!--Start Description-->
                        <div class="form-group col-md-2">
                            <label asp-for="RaceId" class="control-label"></label>
                            <div>
                                <select asp-for="RaceId" asp-items="@(new SelectList(Model.RaceList, "Value", "Text"))"></select>
                            </div>
                            <span asp-validation-for="RaceId" class="text-danger" />
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="GenderId" class="control-label"></label>
                            <div>
                                <select asp-for="GenderId" asp-items="@(new SelectList(Model.GenderList, "Value", "Text"))"></select>
                            </div>
                            <span asp-validation-for="GenderId" class="text-danger" />
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="Height" class="control-label"></label>
                            <input asp-for="Height" class="form-control"/>
                            <span asp-validation-for="Height" class="text-danger" />
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="Weight" class="control-label"></label>
                            <input asp-for="Weight" class="form-control"/>
                            <span asp-validation-for="Weight" class="text-danger" />
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="HairColor" class="control-label"></label>
                            <input asp-for="HairColor" class="form-control" />
                            <span asp-validation-for="HairColor" class="text-danger" />
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="EyeColor" class="control-label"></label>
                            <input asp-for="EyeColor" class="form-control"/>
                            <span asp-validation-for="EyeColor" class="text-danger" />
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="DOB" class="control-label"></label>
                            <input asp-for="DOB" class="form-control" />
                            <span asp-validation-for="DOB" class="text-danger" />
                        </div>
                    </div><!--End Description-->
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label asp-for="PerceivedThreatLevel" class="control-label"></label>
                            <input type="number" asp-for="PerceivedThreatLevel" class="form-control" />
                            <span asp-validation-for="PerceivedThreatLevel" class="text-danger" />
                        </div>
                        <div class="form-group col-md-9">
                            <label asp-for="SSN" class="control-label"></label>
                            <input asp-for="SSN" class="form-control"/>
                            <span asp-validation-for="SSN" class="text-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label asp-for="Notes" class="control-label"></label>
                            <textarea asp-for="Notes" class="form-control" style="min-width: 100%; min-height: 100px;"></textarea>
                            <span asp-validation-for="Notes" class="text-danger" />
                        </div>
                    </div>
                </div>
                <!-- END .col -->
            </div>
			<!-- END .row -->

		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a href="@LinkHelper.GetIndexOrReturnDetail(Context, ViewBag.ReturnUrl)">Cancel</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        (function(){
            $("#RelatedSubject_RelationshipTypeId").chosen();
            $("#ReferrerId").chosen();
            $("#RaceId").chosen();
            $("#GenderId").chosen();
            tinymce.init({ selector: '#RelatedSubject_Notes' });
            tinymce.init({ selector: '#RelatedSubject_Description' });
            tinymce.init({ selector: '#Notes' });
        })();

</script>
}

