@model Fugitive4.Web.ViewModels.Subject.SubjectVm

@{
    ViewBag.Title = "Delete Subject";
}


<div class="row title-row">
	<h1 class="pull-left">@ViewBag.Title</h1>

	<div class="button-container pull-right h1-row text-right">
		<form asp-action="Delete">
			<div class="form-actions no-color">
				<input type="submit" value="Delete" class="btn btn-default" /> |
				<a asp-action="Index">Back to List</a>
			</div>
		</form>
	</div>
</div>

<div class="content-wrapper">

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="alert alert-danger clearfix">
				<p class="pull-left">Are you sure you want to delete this Subject?</p>
			</div>
			<!-- END .alert -->

			<div>
				<dl class="section-spacing clearfix dl-inline-dd dl-inline-label-right">
 
					<dt>@Html.DisplayNameFor(model => model.DOB)</dt>
					<dd>@Html.DisplayFor(model => model.DOB)</dd>

					<dt>@Html.DisplayNameFor(model => model.EyeColor)</dt>
					<dd>@Html.DisplayFor(model => model.EyeColor)</dd>

					<dt>@Html.DisplayNameFor(model => model.Firstname)</dt>
					<dd>@Html.DisplayFor(model => model.Firstname)</dd>

					<dt>@Html.DisplayNameFor(model => model.HairColor)</dt>
					<dd>@Html.DisplayFor(model => model.HairColor)</dd>

					<dt>@Html.DisplayNameFor(model => model.Height)</dt>
					<dd>@Html.DisplayFor(model => model.Height)</dd>

					<dt>@Html.DisplayNameFor(model => model.Lastname)</dt>
					<dd>@Html.DisplayFor(model => model.Lastname)</dd>

					<dt>@Html.DisplayNameFor(model => model.Middlename)</dt>
					<dd>@Html.DisplayFor(model => model.Middlename)</dd>

					<dt>@Html.DisplayNameFor(model => model.SSN)</dt>
					<dd>@Html.DisplayFor(model => model.SSN)</dd>

					<dt>@Html.DisplayNameFor(model => model.Weight)</dt>
					<dd>@Html.DisplayFor(model => model.Weight)</dd>

					<dt>@Html.DisplayNameFor(model => model.ReferrerId)</dt>
					<dd>@Html.DisplayFor(model => model.ReferrerId)</dd>

					<dt>@Html.DisplayNameFor(model => model.GenderId)</dt>
					<dd>@Html.DisplayFor(model => model.GenderId)</dd>

					<dt>@Html.DisplayNameFor(model => model.Notes)</dt>
					<dd>@Html.DisplayFor(model => model.Notes)</dd>

				</dl>

				@Html.HiddenFor(model=>model.Id)
				@Html.HiddenFor(model=>model.DOB)
				@Html.HiddenFor(model=>model.EyeColor)
				@Html.HiddenFor(model=>model.Firstname)
				@Html.HiddenFor(model=>model.HairColor)
				@Html.HiddenFor(model=>model.Height)
				@Html.HiddenFor(model=>model.Lastname)
				@Html.HiddenFor(model=>model.Middlename)
				@Html.HiddenFor(model=>model.SSN)
				@Html.HiddenFor(model=>model.Weight)
				@Html.HiddenFor(model=>model.ReferrerId)
				@Html.HiddenFor(model=>model.GenderId)
				@Html.HiddenFor(model=>model.Notes)
				<div class="button-container top-hr text-right">    
					<form asp-action="Delete">
						<div class="form-actions no-color">
							<input type="submit" value="Delete" class="btn btn-default" /> |
							<a asp-action="Index">Back to List</a>
						</div>
					</form>   
				</div>

			</div>
		</div>
	</div>
</div>
<!-- END .content-wrapper -->



