@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.Subject.SubjectVm

@{
    ViewBag.Title = "Subject Detail";
    ViewBag.ReturnUrl = "/Subject/Details/" + Model.Id;
}
@functions{
        public string SetBackground(int spanNumber, string css)
        {
            if (Model.CurrentBond != null && Model.CurrentBond.DefaultDate.HasValue)
            {
                var month = 7 - spanNumber;
                var days = month * 30;//I know this isn't exact
                var daysLeft = (Model.CurrentBond.DefaultDate.Value - DateTime.Now).Days;
                if (daysLeft < days)
                {
                    return css;
                }
            }
            return "";
        }
}
<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body" >
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
		    <input type="hidden" asp-for="Id"/>
		    <div class="row" style="margin-top: 25px;">
		        @Html.Partial("~/Views/Subject/_PerceivedThreatLevel", Model)
		    </div>
            @Html.Partial("~/Views/Subject/_FelonyCharges", Model)
		    <div class="row">
		        @Html.Partial("~/Views/BailBond/_BondStatus", Model.CurrentBond)
		    </div>	    
           	    
		    <div class="row" style="@SetBackground(6,"background-color:#ffcccc;")"><!--On a computer Browser, this will make 3 Columns, On a Phone, One long Column-->
                <div class="col-md-3"><!--Column One on Desktop-->
                    <div class="row"><!--Inner Row for Column 1-->
                        <div class="form-group col-md-12">
                            <!--AKA-->
                            <!--Addresses-->
                            <div class="form-group col-md-12">
                                <div>
                                    @Html.RouteLink("", "AKAForSubject", new {subjectId = @Model.Id, returnUrl = ViewBag.ReturnUrl }, new {@class = "glyphicon glyphicon-plus", title = "Add Aka"})
                                    <label class="control-label">AKA's</label>                            
                                </div>
                                @Html.Partial("~/Views/Subject/_AKADetails.cshtml", Model.AKAs)
                            </div>

                            <div id="subjectPhoto">
                                <h2>Loading...</h2>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12 panel panel-default">
                                    @Html.Partial("~/Views/Subject/_SubjectDOBDetails.cshtml", Model)

                                    @Html.Partial("~/Views/Subject/_DescriptionDetails.cshtml", Model)
                                </div>
                            </div>
                            <div id="contactInfo" class="row">
                                <h2>
                                    Loading...
                                </h2>
                            </div>
                        </div>

		        </div><!--End Column One on Desktop-->
                </div>
		        <div id="detailAjax">
		            <div id="loadBody">
		                <h3>Loading...</h3>
		            </div>
		        </div>
                <div id="fourthColumnAjax">
                    <div id="loadFourthColumn">
                        <h3>Loading...</h3>
                    </div>
                </div>
		    </div><!-- END .row -->			
		</div>
	</div>
</div>
<!-- END .content-wrapper -->
   
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script type="text/javascript">
        (function() {
            $('#detailAjax')
                .load('@(Url.Action("DetailAjax", "Subject", new {id = Model.Id}, Context.Request.Scheme))',
                    function(response, status, xhr) {
                        $(".sortable").sortable({
                                update: function(event, ui) {
                                    var data = $(this).sortable('toArray', { attribute: 'data-todoid' });
                                    var jsonData = {
                                            SubjectId:@(Model.Id),
                                            TodoIds:data
                                    };
                                    $.ajax({
                                        type: "POST",
                                        url: '@(Url.Action("Reorder", "Todo"))',
                                        contentType: "application/json",
                                        data: JSON.stringify(jsonData)
                                       
                                    });
                                }
                        });
            $('#contactInfo')
                .load('@(Url.Action("ContactInfoAjax", "Subject", new {id = Model.Id}, Context.Request.Scheme))');
                        
            setTimeout(loadPhotoOnDelay, 1000);
                        
            $('#fourthColumnAjax')
                .load('@(Url.Action("FourthColumnAjax", "Subject", new {id = Model.Id}, Context.Request.Scheme))');
                        //--------------------
                        $(".subject-relationship-sortable").sortable({
                            update: function(event, ui) {
                                var data = $(this).sortable('toArray', { attribute: 'data-subjectrelationshipid' });
                                var jsonData = {
                                    SubjectId:@(Model.Id),
                                    SubjectRelationshipIds:data
                                };
                                $.ajax({
                                    type: "POST",
                                    url: '@(Url.Action("Reorder", "SubjectRelationship"))',
                                    contentType: "application/json",
                                    data: JSON.stringify(jsonData)
                                       
                                });
                            }
                        });
                    });

            $('.flashing').hide();

            setInterval(function() {
                    $('.flashing').fadeIn(1000).fadeOut(2000);
                },
                0);
            $("a.glyphicon-info-sign").tooltip();

        })();

        function loadPhotoOnDelay() {
            $('#subjectPhoto')
            .load('@(Url.Action("SubjectPhotoAjax", "Subject", new {id = Model.Id}, Context.Request.Scheme))',
                function(response, status, xhr) {
                    if (response.length == 0) {
                        $('#subjectPhoto').text("");
                    }
                });
        };
    </script>
}
