﻿@model Fugitive4.Web.ViewModels.Subject.GeoMapVm

<div id="googleMap" style="width:1000px;height:800px;" class="glyphicon-bed"></div>

@section scripts{
    <script src="//maps.googleapis.com/maps/api/js"></script>
    <script>
        
        var locations = [
            @foreach (var geoLocation in Model.Locations)
            {
              <text>            ['@geoLocation.Name', @geoLocation.Latitude, @geoLocation.Longitude, '@geoLocation.Url', '@geoLocation.Icon'],</text>
            }
        ];

        var addresses = [
            @foreach (var subjectAddress in Model.Addresses)
            {
            <text>          ['@subjectAddress.Name', '@subjectAddress.Address', '@subjectAddress.Url', '@subjectAddress.Icon'],</text>
            }
        ];



        var currentAddress;
        var infowindow = new google.maps.InfoWindow({
            content: ''
        });

        //create default bounds
        var bounds = new google.maps.LatLngBounds();

        function initialize() {
            var mapProp = {
                //Instead of doing this, we should be able to take each item added to the map below, 
                //and "tell" the google map that the item is "in bounds" of the visible map section
                center:new google.maps.LatLng(32.81277,-117.09441),//centers the map on san diego
                zoom:10,//sets the default zoom
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            

            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            geocoder = new google.maps.Geocoder();
            

            //Locations
            for (j = 0; j < locations.length; j++) {
                title = locations[j][0];
                url = locations[j][3];
                icon = locations[j][4];
                var marker = new google.maps.Marker({ //this is where we add activity locations to the map
                    icon: '@Url.Content("~/images/")' + icon + ".svg",
                    position: new google.maps.LatLng(locations[j][1], locations[j][2]),
                    animation: google.maps.Animation.DROP,
                    map: map,
                    title: title,
                    url: url
                });

                //extend bounds for each marker
                bounds.extend(marker.getPosition());

                infoWindow(marker, map, title, "", url);
            };

            
            
            for (i = 0; i < addresses.length; i++) {
                geocoder.geocode({ 'address': addresses[i][1] }, makeCallback(addresses[i], map));                ;
            };
        }

        function makeCallback(address, map) {
            var geocodeCallBack = function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var marker = new google.maps.Marker({//this is where we add addresses to the map
                        icon: '@Url.Content("~/images/")' + address[3] + ".svg",
                        map: map,
                        position: results[0].geometry.location,
                        animation: google.maps.Animation.DROP,
                        title: address[0] + " " + results[0].formatted_address

                    });
                   
                    //center the map to the center of all markers
                    map.setCenter(bounds.getCenter());

                    map.fitBounds(bounds);

                    //remove one zoom level to ensure no marker is on the edge.
                    map.setZoom(map.getZoom() - 1);

                    infoWindow(marker, map, address[0], address[1], address[2]);
                }
            }
           
            return geocodeCallBack;
        }


        function infoWindow(marker, map, title, address, url) {
            google.maps.event.addListener(marker, 'click', function () {
                var html = "<div><h3>" + title + "</h3><p>" + address + "<br></div><a href='" + url + "'>View location</a></p></div>";
                iw = new google.maps.InfoWindow({ content: html, maxWidth: 350 });
                iw.open(map, marker);
            });
        }
        
        google.maps.event.addDomListener(window, 'load', initialize);

        //var bounds = new google.maps.LatLngBounds({ lat: 12, lng: -145 }, { lat: 51, lng: -56 });
        //map.fitBounds(bounds);
        //bounds.extend(marker.getPosition());
        //center the map to the center of all markers
        //map.setCenter(bounds.getCenter());
        //remove one zoom level to ensure no marker is on the edge.
        //map.setZoom(map.getZoom() - 1);
    </script>
}