@model Fugitive4.Web.ViewModels.Subject.SubjectListVm
@{
    ViewBag.Title = "Manage Subject";
}
@functions{
    public string SetBackground(Fugitive4.Web.ViewModels.Subject.SubjectVm subject)
    {
        if (subject.CurrentBond != null && subject.CurrentBond.DefaultDate.HasValue)
        {
            var daysLeft = (subject.CurrentBond.DefaultDate.Value - DateTime.Now).Days;
            var monthsLeft = (daysLeft / 30) + (daysLeft % 30 > 0 ? 1 : 0);
            switch (monthsLeft)
            {
                case 1:
                    return "red";
                case 2:
                    return "#ff5050";
                case 3:
                    return "yellow";
                case 4:
                    return "gold";
                case 5:
                    return "#66ff66";
                case 6:
                    return "green";
            }
        }
        return "white";
    }
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-default">
    @Html.Partial("~/Views/Subject/_Search.cshtml", new Fugitive4.Web.ViewModels.Subject.SubjectSearchVm())
    <table class="table table-striped">
        <thead>
        <tr>
            <th width="60%">
                Subject
                <a href="#"
                   data-toggle="tooltip"
                   class="glyphicon glyphicon-info-sign"
                   title="The subject's name, in 'Last, First Middle' format, with a link to the detail page.  The names are sorted by default date with the soonest default first.">
                </a>
            </th>
            <th width="10%">Default
                <a href="#"
                   data-toggle="tooltip"
                   class="glyphicon glyphicon-info-sign"
                   title="The Default Date of the bond (default date of the first bond to default if there is more than one)">
                </a>
            </th>
            <th width="10%">
                Cy
            </th>
            <th width="10%">
                <a href="#"
                   data-toggle="tooltip"
                   class="glyphicon glyphicon-info-sign"
                   title="The star links to a mind map of the information about the subject that the recovery agents have created for that subject">                   
                </a>
            </th>
            <th>map
                <a href="#"
                   data-toggle="tooltip"
                   class="glyphicon glyphicon-info-sign"
                   title="All of the addresses for the subject, and any related subjects, displayed on a Google map">
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Subjects)
        {
            <tr style="background-color: @SetBackground(item);">
                <td nowrap="nowrap">
                    <a asp-action="Details" asp-route-id="@item.Id">                        
                        @Html.DisplayFor(modelItem => item.Lastname),&nbsp;
                        @Html.DisplayFor(modelItem => item.Firstname)&nbsp;
                        @Html.DisplayFor(modelItem => item.Middlename)
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        @((item.CurrentBond != null && item.CurrentBond.DefaultDate.HasValue) ? item.CurrentBond.DefaultDate.Value.ToString("M/d/yy") : "")
                    </a>
                </td>
                <td>
                    <a asp-action="RelationshipGraph" asp-controller="SubjectRelationship" asp-route-subjectId="@item.Id" class="glyphicon glyphicon-blackboard"></a>
                </td>
                <td>
                    <a asp-action="Mindmap" asp-route-id="@item.Id" class="glyphicon glyphicon-star"></a>
                </td>
                <td><a asp-action="Geomap" asp-route-id="@item.Id" class="glyphicon glyphicon-globe"></a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class=" footer-button-row">
    <div class="button-container text-right">
        @Html.ActionLink("Back to Subjects", "Index", "Subject", null, new {@class = "pull-left"})
        <a asp-action="Create">Create New</a>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        (function () {
            $("a.glyphicon-info-sign").tooltip();
        })();
    </script>
}
