﻿@model Fugitive4.Web.ViewModels.Subject.SubjectVm

<div class="mindmap" style="margin-top: 150px;">    
    <ol class="children children_leftbranch">
        <li class="children__item">
            <div class="node" style="background-color: lightgoldenrodyellow;">
                <div class="node__text">Addresses</div>
                <input type="text" class="node__input">
            </div>
            <ol class="children">
                @foreach (var address in Model.Addresses)
                {
                    <li class="children__item">
                        <div class="node" style="background-color: yellow;">
                            <div class="node__text">@address.Address1, @address.City</div>
                            <input type="text" class="node__input">
                        </div>
                        @foreach (var activityNote in address.ActivityNotes)
                        {
                            <ol class="children">
                                <li class="children__item">
                                    <div class="node">
                                        <div class="node__text">@(activityNote.Description.Length > 40 ? activityNote.Description.Substring(0,39) + "..." : activityNote.Description)</div>
                                        <input type="text" class="node__input">
                                    </div>
                                </li>
                            </ol>
                        }
                    </li>
                }
            </ol>
        </li>
        <li class="children__item">
            <div class="node" style="background-color: lightpink;">
                <div class="node__text">Bail Bonds</div>
                <input type="text" class="node__input">
            </div>
            <ol class="children">
                @foreach (var bailBond in Model.BailBonds)
                {
                    <li class="children__item">
                        <div class="node" style="background-color: lightsalmon;">
                            <div class="node__text">@bailBond.IssuingBondCompany $@(Math.Round(bailBond.BondAmount.GetValueOrDefault(0) / 1000))k</div>
                            <input type="text" class="node__input">
                        </div>
                        <ol class="children">
                            @foreach (var bookingCharge in bailBond.BookingCharges.Where(a=> !string.IsNullOrWhiteSpace(a.Address1)))
                            {
                                <li class="children__item">
                                    <div class="node" style="background-color: yellow;">
                                        <div class="node__text">@bookingCharge.Address1, @bookingCharge.City</div>
                                        <input type="text" class="node__input">
                                    </div>
                                    @foreach (var activityNote in bookingCharge.ActivityNotes)
                                    {
                                        <ol class="children">
                                            <li class="children__item">
                                                <div class="node">
                                                    <div class="node__text">@(activityNote.Description.Length > 40 ? activityNote.Description.Substring(0, 39) : activityNote.Description)</div>
                                                    <input type="text" class="node__input">
                                                </div>
                                            </li>
                                        </ol>
                                    }
                                </li>
                            }
                        </ol>
                    </li>
                }
            </ol>
        </li>
        <li class="children__item">
            <div class="node" style="background-color: lightcyan;">
                <div class="node__text">Vehicles</div>
                <input type="text" class="node__input">
            </div>
            <ol class="children">
                @foreach (var vehicle in Model.Vehicles)
                {
                    <li class="children__item">
                        <div class="node" style="background-color: lightblue;">
                            <div class="node__text">@vehicle.Year @vehicle.Make @vehicle.Model @vehicle.Color @vehicle.PlateNumber </div>
                            <input type="text" class="node__input">
                        </div>
                    </li>
                }
            </ol>
        </li>
   <!--next left node here -->
    </ol>
    <div class="node node_root">
        <div class="node__text">@Model.Lastname, @Model.Firstname</div>
        <input type="text" class="node__input">
    </div>
    <ol class="children children_rightbranch">
        @foreach (var subjectRelationship in Model.SubjectRelationships)
        {
            var relatedSubject = subjectRelationship.RelatedSubject.Id == Model.Id ? subjectRelationship.Subject : subjectRelationship.RelatedSubject;
            <li class="children__item">
                <div class="node" style="background-color:papayawhip">
                    <div class="node__text">@relatedSubject.Lastname, @relatedSubject.Firstname - @subjectRelationship.RelationshipType.Name</div>
                    <input type="text" class="node__input">
                </div>
                <ol class="children">
                    @foreach (var address in relatedSubject.Addresses.Where(a=>!string.IsNullOrWhiteSpace(a.Address1)))
                    {
                        <li class="children__item">
                            <div class="node" style="background-color: yellow;">
                                <div class="node__text">@address.Address1, @address.City</div>
                                <input type="text" class="node__input">
                            </div>
                            @foreach (var activityNote in address.ActivityNotes)
                            {
                                <ol class="children">
                                    <li class="children__item">
                                        <div class="node">
                                            <div class="node__text">@(activityNote.Description.Length > 40 ? activityNote.Description.Substring(0, 39) + "..." : activityNote.Description)</div>
                                            <input type="text" class="node__input">
                                        </div>
                                    </li>
                                </ol>
                            }
                        </li>
                    }
                </ol>
            </li>
        }
    </ol>
</div>