@model Fugitive4.Web.ViewModels.PhoneNumber.PhoneNumberVm

@{
    ViewBag.Title = "Edit PhoneNumber";
}

<form asp-action="Edit" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="PhoneNumber" asp-action="Index">Cancel</a>
				<input type="submit" value="Edit" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="SubjectId" />
            <div class="row">
                <!-- Start .row 1-->
                <div class="form-group col-md-3">
                    <label asp-for="PhoneTypeId" class="control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="PhoneTypeId" asp-items="@(new SelectList(Model.PhoneTypeList, "Value", "Text"))"></select>
                    </div>
                    <span asp-validation-for="PhoneTypeId" class="text-danger" />
                </div>
                <div class="form-group col-md-9">
                    <label asp-for="BelongsTo" class="col-md-2 control-label"></label>
                    <input asp-for="BelongsTo" class="form-control" />
                    <span asp-validation-for="BelongsTo" class="text-danger" />

                    <span asp-validation-for="BelongsTo" class="text-danger" />
                </div>
            </div><!-- END .row 1-->
            <div class="row">
                <!-- Start .row 2-->
                <div class="form-group col-md-12">
                    <label asp-for="PhoneNumber1" class="control-label"></label>
                    <input type="tel" asp-for="PhoneNumber1" class="form-control" />
                    <span asp-validation-for="PhoneNumber1" class="text-danger" />
                </div>
            </div><!-- END .row 2-->
            <div class="row">
                <!-- Start .row 3-->
                <div class="form-group col-md-12">
                    <label asp-for="Notes" class="control-label"></label>
                    <textarea asp-for="Notes" class="form-control"></textarea>
                    <span asp-validation-for="Notes" class="text-danger" />
                </div>
            </div><!-- END .row 3-->     

		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a asp-controller="PhoneNumber" asp-action="Index">Cancel</a>
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        (function(){
            $("#PhoneTypeId").chosen();
            tinymce.init({ selector: '#Notes' });
        })();

</script>
}
