@model Fugitive4.Web.ViewModels.PhoneNumber.PhoneNumberListVm

@{
    ViewBag.Title = "Manage PhoneNumber";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-default">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.PhoneNumbers.FirstOrDefault().PhoneNumber1)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PhoneNumbers.FirstOrDefault().BelongsTo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PhoneNumbers.FirstOrDefault().Notes)
				</th>

				<th></th>	
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.PhoneNumbers) 
			{
			<tr>

				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BelongsTo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Notes)
				</td>

       <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
			</tr>
			}
		</tbody>
	</table>
</div>

<div class=" footer-button-row">
	<div class="button-container text-right">
		@Html.ActionLink("Back to Subjects", "Index", "Subject", null, new {@class="pull-left"})
		<a asp-action="Create">Create New</a>
	</div>
</div>

