@using Fugitive4.Web.Helpers;
@model Fugitive4.Web.ViewModels.AKA.AKAVm

@{
    ViewBag.Title = "Create AKA";
}

<form asp-action="Create" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="AKA" asp-action="Index">Cancel</a>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div> 

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
				<div class="row">
					<div class="form-group col-md-12">
						<label asp-for="Firstname" class="control-label"></label>
						<input asp-for="Firstname" class="form-control"/>
					
						<span asp-validation-for="Firstname" class="text-danger" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label asp-for="Middlename" class="control-label"></label>
						<input asp-for="Middlename" class="form-control"/>
					
						<span asp-validation-for="Middlename" class="text-danger" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label asp-for="Lastname" class="control-label"></label>
						<input asp-for="Lastname" class="form-control"/>
					
						<span asp-validation-for="Lastname" class="text-danger" />
					</div>
				</div>
				<input type="hidden" asp-for="SubjectId" />

				<div class="row">
					<div class="form-group col-md-12">
				
						<input asp-for="Disabled"/>
						<label asp-for="Disabled" class="control-label"></label>
					
						<span asp-validation-for="Disabled" class="text-danger" />
					</div>
				</div>
				
		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a href="@LinkHelper.GetIndexOrReturnDetail(Context, ViewBag.ReturnUrl)">Cancel</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

