﻿@model List<string>
<div style="margin-top: 150px;">
    <ul>
        @{
            foreach (var camera in Model)
            {
                <li><a asp-controller="JpegVideo" asp-action="CameraProperties" asp-route-id="@camera">@camera</a></li>
            }
        }
    </ul>
</div>