﻿@using System.Threading.Tasks
@using Fugitive4.Web.Helpers
@model Fugitive4.Web.ViewModels.JpegVideo.JpegVideoCameraProperties
@{
    ViewBag.Title = $"Video Settings {Model.CameraId}";
}
<style>
    body {
        font-family: sans-serif;
    }

    #container {
        display: inline-block;
        padding-right: 0 !important; 
        padding-left: 0 !important; 
        margin-right: 0 !important; 
        margin-left: 0 !important;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .selection-box {
        position: absolute;
        display: inline-block;
        background: transparent;
        border: 1px solid red;
    }
</style>

<form method="post" asp-action="CameraProperties" asp-controller="JpegVideo">
    <div class="form-horizontal" style="margin-top: 50px;">
        <div class="row title-row">
            <h1 class="pull-left">@ViewBag.Title</h1>

            <div class="button-container pull-right h1-row text-right">
                <a asp-controller="JpegVideo" asp-action="CameraProperties">Cancel</a>
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CameraId"/>
                    <div class="row">
                        <!-- Start .row 1 -->
                        <div class="form-group col-md-12">
                            <div id="container" class="container">
                                <img id="cameraImage" width="50%" height="50%" src="@Url.Action("GetFeed", "JpegVideo" , new {id=Model.CameraId})"/>
                            </div>
                        </div>
                    </div><!-- END .row 1 -->
                    <div class="row">
                        <div class="form-group col-md-1"> <!--Zoom Control-->
                            <table id="zoomLevel" width="100px">
                                <tr><td class="glyphicon glyphicon-zoom-in">3</td></tr>
                                <tr><td class="glyphicon glyphicon-zoom-in">2</td></tr>
                                <tr><td class="glyphicon glyphicon-zoom-in">1</td></tr>
                                <tr><td class="glyphicon glyphicon-zoom-out">0</td></tr>
                            </table>
                        </div>
                        <div class="form-group col-md-4"><!--Zoom Offset-->
                            <table id="offsets" class="offsets" border="1">
                                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td></td><td></td><td></td><td class="glyphicon glyphicon-eye-open"></td><td></td><td></td><td></td></tr>
                                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                            </table>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="radio" name="viewport" value="movement" checked=""/>Movement<br />                           
                            <input type="radio" name="viewport" value="view" />View<br/>
                        </div>
                        <div class="form-group col-md-5"></div>
                    </div>
                    <div class="row">
                        <!-- Start .row 2 -->
                        <div class="form-group col-md-1">
                            <label asp-for="differenceThreshold" class="control-label"></label>
                            <input asp-for="differenceThreshold" class="form-control"/>
                            <span asp-validation-for="differenceThreshold" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="pixelThreshold" class="control-label"></label>
                            <input asp-for="pixelThreshold" class="form-control"/>
                            <span asp-validation-for="pixelThreshold" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1"></div>
                        <div class="form-group col-md-1">
                            <label asp-for="transmitSeconds" class="control-label"></label>
                            <input asp-for="transmitSeconds" class="form-control"/>
                            <span asp-validation-for="transmitSeconds" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="quality" class="control-label"></label>
                            <input asp-for="quality" class="form-control" />
                            <span asp-validation-for="quality" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1"></div>
                        <div class="form-group col-md-1">
                            <label asp-for="maxTemp" class="control-label"></label>
                            <input asp-for="maxTemp" class="form-control"/>
                            <span asp-validation-for="maxTemp" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="minBatteryPercent" class="control-label"></label>
                            <input asp-for="minBatteryPercent" class="form-control"/>
                            <span asp-validation-for="minBatteryPercent" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4"></div>
                    </div><!-- END .row 3 -->

                    <div class="row">
                        <!-- Start .row 5 -->
                        <div class="form-group col-md-1">
                            <label asp-for="focus" class="control-label"></label>
                            <input asp-for="focus" class="form-control" />
                            <span asp-validation-for="focus" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1"></div>
                        <div class="form-group col-md-1">
                            <label asp-for="zoom" class="control-label"></label>
                            <input asp-for="zoom" class="form-control"/>
                            <span asp-validation-for="zoom" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="zoomXOffset" class="control-label"></label>
                            <input asp-for="zoomXOffset" class="form-control"/>
                            <span asp-validation-for="zoomXOffset" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="zoomYOffset" class="control-label"></label>
                            <input asp-for="zoomYOffset" class="form-control"/>
                            <span asp-validation-for="zoomYOffset" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1"></div>
                        <div class="form-group col-md-1">
                            <label asp-for="afterDarkHour" class="control-label"></label>
                            <input asp-for="afterDarkHour" class="form-control"/>
                            <span asp-validation-for="afterDarkHour" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="beforeSunriseHour" class="control-label"></label>
                            <input asp-for="beforeSunriseHour" class="form-control"/>
                            <span asp-validation-for="beforeSunriseHour" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4"></div>
                    </div><!-- END .row 5 -->
                    <div class="row">
                        <!-- Start .row 6 MOVEMENT -->
                        <div><label class="control-label">Movement Area</label>
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="movement.x" class="control-label"></label>
                            <input asp-for="movement.x" class="form-control"/>
                            <span asp-validation-for="movement.x" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="movement.y" class="control-label"></label>
                            <input asp-for="movement.y" class="form-control"/>
                            <span asp-validation-for="movement.y" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="movement.w" class="control-label"></label>
                            <input asp-for="movement.w" class="form-control"/>
                            <span asp-validation-for="movement.w" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="movement.h" class="control-label"></label>
                            <input asp-for="movement.h" class="form-control"/>
                            <span asp-validation-for="movement.h" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6"></div>
                    </div><!-- END .row 6 MOVEMENT -->

                    <div class="row">
                        <!-- Start .row 6 VIEW -->
                        <div><label class="control-label">View Area</label>
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="view.x" class="control-label"></label>
                            <input asp-for="view.x" class="form-control"/>
                            <span asp-validation-for="view.x" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-1">
                            <label asp-for="view.y" class="control-label"></label>
                            <input asp-for="view.y" class="form-control"/>
                            <span asp-validation-for="view.y" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="view.w" class="control-label"></label>
                            <input asp-for="view.w" class="form-control"/>
                            <span asp-validation-for="view.w" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="view.h" class="control-label"></label>
                            <input asp-for="view.h" class="form-control"/>
                            <span asp-validation-for="view.h" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6"></div>
                    </div><!-- END .row 6 VIEW -->

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a asp-controller="JpegVideo" asp-action="CameraProperties">Cancel</a>
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        $(function() {

            var backgroundColor = $("body").css('background');
            $("#offsets td")
                .on('click',
                    function() {

                        $("#offsets td").css('background', backgroundColor);

                        var xIndex = ((3 - $(this).index()) * -1);
                        var yIndex = ((3 - $(this).parent().index()) * -1);
                        var zoom = $("#zoom").val();
                        if (zoom > 0) {
                            $("#zoomXOffset").val(xIndex);
                            $("#zoomYOffset").val(yIndex);
                            $(this).css('background', 'red');
                        } else {
                            $("#zoomXOffset").val(0);
                            $("#zoomYOffset").val(0);
                            $($("#offsets td").get(24)).css('background', 'red');
                        }
                    });
            $("#zoomLevel td")
                .on('click',
                    function() {
                        var zoom = (3 - $(this).parent().index());
                        $("#zoom").val(zoom);
                        if (zoom < 1) {
                            $("#offsets td").css('background', backgroundColor);
                            $($("#offsets td").get(24)).css('background', 'red');
                        }
                        //alert(zoom);
                    });

            var cameraImage = $("#cameraImage")[0];

            var cameraImageRealWidth;
            var cameraImageRealHeight;
            var cameraImageWidthRatio;
            var cameraImageHeightRatio;
            $("<img/>") // Make in memory copy of image to avoid css issues
                .attr("src", $(cameraImage).attr("src"))
                .load(function() {
                    cameraImageRealWidth = this.width; // Note: $(this).width() will not
                    cameraImageRealHeight = this.height; // work for in memory images.

                    cameraImageWidthRatio = cameraImageRealWidth / cameraImage.width;
                    cameraImageHeightRatio = cameraImageRealHeight / cameraImage.height;
                    //alert(pic_real_width);
                });


            var $container = $('#container');
            var $selection = $('<div>').addClass('selection-box');
            var click_y;
            var click_x;

            $container.on('mousedown',
                    function(e) {
                        click_x = Math.round(e.clientX - $container.offset().left -  $(window).scrollLeft()); //$container.offset().left+15;
                        click_y = Math.round(e.clientY - $container.offset().top - $(window).scrollTop());

                        e.preventDefault();
                        $selection.css({
                            'top': click_y,
                            'left': click_x,
                            'width': 0,
                            'height': 0
                        });
                        $selection.appendTo($container);

                        //$container.on('mousemove', function (e) {

                        //    });
                    })
                .on('mouseup',
                    function(e) {
                        var move_x = Math.round(e.clientX - $container.offset().left - $(window).scrollLeft()); //e.pageX - $container.offset().left+15,
                        var move_y = Math.round(e.clientY - $container.offset().top - $(window).scrollTop()); //e.pageY - $container.offset().top,
                        var width = Math.abs(move_x - click_x);
                        var height = Math.abs(move_y - click_y);
                        var new_x = (move_x < click_x) ? (click_x - width) : click_x;
                        var new_y = (move_y < click_y) ? (click_y - height) : click_y;

                        $selection.css({
                            'left': new_x + 15,
                            'top': new_y,
                            'width': width,
                            'height': height
                        });

                        var viewport = $("input[name=viewport]:radio:checked").val();
                        var imgLeft = new_x;
                        var imgTop = new_y;
                        var imgWidth = width;
                        var imgHeight = height;

                        var newXLocation = Math.trunc(imgLeft * cameraImageWidthRatio);
                        var newYLocation = Math.trunc(imgTop * cameraImageHeightRatio);
                        var newWidth = Math.trunc(imgWidth * cameraImageWidthRatio);
                        var newHeight = Math.trunc(imgHeight * cameraImageHeightRatio);

                        if (
                            (newXLocation >= 0 && newXLocation <= cameraImageRealWidth) &&
                            (newYLocation >= 0 && newYLocation <= cameraImageRealHeight) &&
                            (newXLocation + newWidth <= cameraImageRealWidth) &&
                            (newYLocation + newHeight <= cameraImageRealHeight)
                        ) {

                            $("#" + viewport + "_x").val(newXLocation);
                            $("#" + viewport + "_y").val(newYLocation);
                            $("#" + viewport + "_w").val(newWidth);
                            $("#" + viewport + "_h").val(newHeight);
                        } else {
                            alert("New Size out of Bounds.  " + cameraImageRealWidth + "," + cameraImageRealHeight + "|" + newXLocation + "," + newYLocation + "," + newXLocation + newWidth + "," + newYLocation + newHeight);
                        }
                    });

            setInterval(function() {
                var random = Math.random();
                $("#cameraImage")
                    .attr("src",
                        "@Url.Action("GetFeed", "JpegVideo", new {id = Model.CameraId})?r=" +
                        random);
            },
    500);
        });
    </script>
}