@model Fugitive4.Web.ViewModels.Employer.EmployerVm

@{
    ViewBag.Title = "Delete Employer";
}


<div class="row title-row">
	<h1 class="pull-left">@ViewBag.Title</h1>

	<div class="button-container pull-right h1-row text-right">
		<form asp-action="Delete">
			<div class="form-actions no-color">
				<input type="submit" value="Delete" class="btn btn-default" /> |
				<a asp-action="Index">Back to List</a>
			</div>
		</form>
	</div>
</div>

<div class="content-wrapper">

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="alert alert-danger clearfix">
				<p class="pull-left">Are you sure you want to delete this Employer?</p>
			</div>
			<!-- END .alert -->

			<div>
				<dl class="section-spacing clearfix dl-inline-dd dl-inline-label-right">
 
					<dt>@Html.DisplayNameFor(model => model.Disabled)</dt>
					<dd>@Html.DisplayFor(model => model.Disabled)</dd>

					<dt>@Html.DisplayNameFor(model => model.Name)</dt>
					<dd>@Html.DisplayFor(model => model.Name)</dd>

					<dt>@Html.DisplayNameFor(model => model.JobTitle)</dt>
					<dd>@Html.DisplayFor(model => model.JobTitle)</dd>

					<dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
					<dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>

					<dt>@Html.DisplayNameFor(model => model.Address1)</dt>
					<dd>@Html.DisplayFor(model => model.Address1)</dd>

					<dt>@Html.DisplayNameFor(model => model.Address2)</dt>
					<dd>@Html.DisplayFor(model => model.Address2)</dd>

					<dt>@Html.DisplayNameFor(model => model.City)</dt>
					<dd>@Html.DisplayFor(model => model.City)</dd>

					<dt>@Html.DisplayNameFor(model => model.State)</dt>
					<dd>@Html.DisplayFor(model => model.State)</dd>

					<dt>@Html.DisplayNameFor(model => model.Zipcode)</dt>
					<dd>@Html.DisplayFor(model => model.Zipcode)</dd>

					<dt>@Html.DisplayNameFor(model => model.SubjectId)</dt>
					<dd>@Html.DisplayFor(model => model.SubjectId)</dd>

					<dt>@Html.DisplayNameFor(model => model.Notes)</dt>
					<dd>@Html.DisplayFor(model => model.Notes)</dd>

					<dt>@Html.DisplayNameFor(model => model.StartDate)</dt>
					<dd>@Html.DisplayFor(model => model.StartDate)</dd>

					<dt>@Html.DisplayNameFor(model => model.EndDate)</dt>
					<dd>@Html.DisplayFor(model => model.EndDate)</dd>

				</dl>

				@Html.HiddenFor(model=>model.Id)
				@Html.HiddenFor(model=>model.Disabled)
				@Html.HiddenFor(model=>model.CreatedBy)
				@Html.HiddenFor(model=>model.CreatedDate)
				@Html.HiddenFor(model=>model.ModifiedBy)
				@Html.HiddenFor(model=>model.ModifiedDate)
				@Html.HiddenFor(model=>model.Name)
				@Html.HiddenFor(model=>model.JobTitle)
				@Html.HiddenFor(model=>model.PhoneNumber)
				@Html.HiddenFor(model=>model.Address1)
				@Html.HiddenFor(model=>model.Address2)
				@Html.HiddenFor(model=>model.City)
				@Html.HiddenFor(model=>model.State)
				@Html.HiddenFor(model=>model.Zipcode)
				@Html.HiddenFor(model=>model.SubjectId)
				@Html.HiddenFor(model=>model.Notes)
				@Html.HiddenFor(model=>model.StartDate)
				@Html.HiddenFor(model=>model.EndDate)
				<div class="button-container top-hr text-right">    
					<form asp-action="Delete">
						<div class="form-actions no-color">
							<input type="submit" value="Delete" class="btn btn-default" /> |
							<a asp-action="Index">Back to List</a>
						</div>
					</form>   
				</div>

			</div>
		</div>
	</div>
</div>
<!-- END .content-wrapper -->



