@model Fugitive4.Web.ViewModels.Employer.EmployerVm

@{
    ViewBag.Title = "Employer Detail";
}
<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
			<div class="row">
				<div class="col-md-6">
			        <div class="pull-right">
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
			        </div>
								<div class="form-group">
				
						@Html.DisplayFor(model => model.Disabled)
						<label asp-for="Disabled" class="col-md-2 control-label"></label>
					
					</div>
								<div class="form-group">
									<label asp-for="Name" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Name)
					
					</div>
								<div class="form-group">
									<label asp-for="JobTitle" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.JobTitle)
					
					</div>
								<div class="form-group">
									<label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.PhoneNumber)
					
					</div>
								<div class="form-group">
									<label asp-for="Address1" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Address1)
					
					</div>
								<div class="form-group">
									<label asp-for="Address2" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Address2)
					
					</div>
								<div class="form-group">
									<label asp-for="City" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.City)
					
					</div>
								<div class="form-group">
									<label asp-for="State" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.State)
					
					</div>
								<div class="form-group">
									<label asp-for="Zipcode" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Zipcode)
					
					</div>
								<div class="form-group">
									<label asp-for="SubjectId" class="col-md-2 control-label"></label>
									<div class="col-md-10">
							@Html.DisplayFor(model => model.SubjectId)
						</div>
					
					</div>
								<div class="form-group">
									<label asp-for="Notes" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Notes)
					
					</div>
								<div class="form-group">
									<label asp-for="StartDate" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.StartDate)
					
					</div>
								<div class="form-group">
									<label asp-for="EndDate" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.EndDate)
					
					</div>
						
				</div>
				<!-- END .col -->
			</div>
			<!-- END .row -->

		</div>
	</div>
</div>
<!-- END .content-wrapper -->
   
<div>
    <a asp-controller="SubjectRelationship"
       asp-action="Index"
       asp-route-employerid="@Model.Id">
        View SubjectRelationships
    </a>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
