@model Fugitive4.Web.ViewModels.Employer.EmployerVm

@{
    ViewBag.Title = "Edit Employer";
}

<form asp-action="Edit" asp-route-returnUrl="@ViewBag.ReturnUrl">
    <div class="form-horizontal">
        <div class="row title-row">
            <h1 class="pull-left">@ViewBag.Title</h1>

            <div class="button-container pull-right h1-row text-right">
                <a asp-controller="Employer" asp-action="Index">Cancel</a>
                <input type="submit" value="Edit" class="btn btn-default"/>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id"/>
                    <input type="hidden" asp-for="Disabled"/>
                    <input type="hidden" asp-for="SubjectId" />

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="JobTitle" class="control-label"></label>
                            <input asp-for="JobTitle" class="form-control"/>

                            <span asp-validation-for="JobTitle" class="text-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control"/>

                            <span asp-validation-for="PhoneNumber" class="text-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Address1" class="control-label"></label>
                            <input asp-for="Address1" class="form-control" style="min-width: 100%"/>

                            <span asp-validation-for="Address1" class="text-danger" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Address2" class="control-label"></label>
                            <input asp-for="Address2" class="form-control" style="min-width: 100%"/>

                            <span asp-validation-for="Address2" class="text-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control"/>

                            <span asp-validation-for="City" class="text-danger" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="State" class="control-label"></label>
                            <input asp-for="State" class="form-control"/>

                            <span asp-validation-for="State" class="text-danger" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Zipcode" class="control-label"></label>
                            <input asp-for="Zipcode" class="form-control"/>

                            <span asp-validation-for="Zipcode" class="text-danger" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="StartDate" class="control-label"></label>
                            <input asp-for="StartDate" class="form-control"/>

                            <span asp-validation-for="StartDate" class="text-danger" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="EndDate" class="control-label"></label>
                            <input asp-for="EndDate" class="form-control"/>

                            <span asp-validation-for="EndDate" class="text-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label asp-for="Notes" class="control-label"></label>
                            <textarea rows="15" asp-for="Notes" class="form-control"></textarea>
                            <span asp-validation-for="Notes" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a asp-controller="Employer" asp-action="Index">Cancel</a>
                <input type="submit" value="Edit" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="SubjectRelationship"
       asp-action="Index"
       asp-route-employerid="@Model.Id">
        View SubjectRelationships
    </a>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        (function(){
            tinymce.init({ selector: '#Notes' });
        })();
    </script>
}
