@model Fugitive4.Web.ViewModels.Employer.EmployerListVm

@{
    ViewBag.Title = "Manage Employer";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-default">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Employers.FirstOrDefault().Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Employers.FirstOrDefault().JobTitle)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Employers.FirstOrDefault().PhoneNumber)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Employers.FirstOrDefault().Address1)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Employers.FirstOrDefault().Address2)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Employers.FirstOrDefault().City)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Employers.FirstOrDefault().State)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Employers.FirstOrDefault().Zipcode)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Employers.FirstOrDefault().Notes)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Employers.FirstOrDefault().StartDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Employers.FirstOrDefault().EndDate)
				</th>

				<th></th>	
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Employers) 
			{
			<tr>

				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.JobTitle)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address2)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.State)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Zipcode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Notes)
				</td>
				<td>
					@(item.StartDate.HasValue ? item.StartDate.Value.ToString("M/d/yy") : "")
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EndDate)
				</td>

       <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
			</tr>
			}
		</tbody>
	</table>
</div>

<div class=" footer-button-row">
	<div class="button-container text-right">
		@Html.ActionLink("Back to Subjects", "Index", "Subject", null, new {@class="pull-left"})
		<a asp-action="Create">Create New</a>
	</div>
</div>

