@using Fugitive4.Web.Helpers;
@model Fugitive4.Web.ViewModels.AspNetUsers_Referrer.AspNetUsers_ReferrerVm

@{
    ViewBag.Title = "Create AspNetUsers_Referrer";
}

<form asp-action="Create" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="AspNetUsers_Referrer" asp-action="Index">Cancel</a>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div> 

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
				<div class="row">
					<div class="form-group col-md-12">
						<label asp-for="ReferrerId" class="control-label"></label>
							<select asp-for="ReferrerId" asp-items="@(new SelectList(Model.ReferrerList,"Value", "Text"))"></select>
		
						<span asp-validation-for="ReferrerId" class="text-danger" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label asp-for="AspNetUsersId" class="control-label"></label>
                        <select asp-for="AspNetUsersId" asp-items="@(new SelectList(Model.AspNetUserList,"Value", "Text"))"></select>
					
						<span asp-validation-for="AspNetUsersId" class="text-danger" />
					</div>
				</div>
				
		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a href="@LinkHelper.GetIndexOrReturnDetail(Context, ViewBag.ReturnUrl)">Cancel</a>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/chosen.jquery.js"></script>
<script type="text/javascript">
        $(function () {
            $("#ReferrerId").chosen();
            $("#AspNetUsersId").chosen();
        });
</script>
}

