@model Fugitive4.Web.ViewModels.AspNetUsers_Referrer.AspNetUsers_ReferrerListVm

@{
    ViewBag.Title = "Manage AspNetUsers_Referrer";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-default">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.AspNetUsers_Referrers.FirstOrDefault().ReferrerId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AspNetUsers_Referrers.FirstOrDefault().AspNetUsersId)
				</th>

				<th></th>	
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.AspNetUsers_Referrers) 
			{
			<tr>

				<td>
					@Html.DisplayFor(modelItem => item.Referrer.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
				</td>

       <td>
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
			</tr>
			}
		</tbody>
	</table>
</div>

<div class=" footer-button-row">
	<div class="button-container text-right">
		@Html.ActionLink("Back to Subjects", "Index", "Subject", null, new {@class="pull-left"})
		<a asp-action="Create">Create New</a>
	</div>
</div>

