@model Fugitive4.Web.ViewModels.TodoStatus.TodoStatusVm

@{
    ViewBag.Title = "TodoStatus Detail";
}
<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
			<div class="row">
				<div class="col-md-6">
			        <div class="pull-right">
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
			        </div>
								<div class="form-group">
									<label asp-for="Name" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Name)
					
					</div>
						
				</div>
				<!-- END .col -->
			</div>
			<!-- END .row -->

		</div>
	</div>
</div>
<!-- END .content-wrapper -->
   
<div>
    <a asp-controller="Todo"
       asp-action="Index"
       asp-route-todostatusid="@Model.Id">
        View Todos
    </a>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
