@model Fugitive4.Web.ViewModels.Todo.TodoVm

@{
    ViewBag.Title = "Edit Todo";
}

<form asp-action="Edit" asp-route-returnUrl="@ViewBag.ReturnUrl">     
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="Todo" asp-action="Index">Cancel</a>
				<input type="submit" value="Edit" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
		    <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="SubjectId" />
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Synopsis" class="control-label"></label>
                    <input asp-for="Synopsis" class="form-control" />
                    <span asp-validation-for="Synopsis" class="text-danger" />
                </div>
 		        
		<div class="form-group col-md-2">
			<label asp-for="SortOrder" class="control-label"></label>
			<input asp-for="SortOrder" class="form-control"/>
			<span asp-validation-for="SortOrder" class="text-danger" />
		</div>
                <div class="form-group col-md-2">
                    <label asp-for="AssignedTo" class="control-label"></label>
                    <input asp-for="AssignedTo" class="form-control"/>
                    <span asp-validation-for="AssignedTo" class="text-danger" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="TodoStatusId" class="control-label"></label>
                    <select asp-for="TodoStatusId" asp-items="@(new SelectList(Model.TodoStatusList, "Value", "Text"))"></select>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Done" class="control-label"></label>
                    <input asp-for="Done" class="form-control" />
                    <span asp-validation-for="Done" class="text-danger" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description"
                              class="form-control" style="min-width: 100%" rows="10"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Notes" class="control-label"></label>
                    <textarea asp-for="Notes"
                              class="form-control" style="min-width: 100%" rows="10"></textarea>
                    <span asp-validation-for="Notes" class="text-danger" />
                </div>
            </div>							
		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a asp-controller="Todo" asp-action="Index">Cancel</a>
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
