@model Fugitive4.Web.ViewModels.Todo.TodoListVm

@{
    ViewBag.Title = "Manage Todo";
}

<h2>Index</h2>

<p>
    <h2>
        @ViewBag.SubjectName
    </h2>
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-default">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Todos.FirstOrDefault().Synopsis)
				</th>

				<th>
					@Html.DisplayNameFor(model => model.Todos.FirstOrDefault().AssignedTo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Todos.FirstOrDefault().Done)
				</th>
				<th></th>	
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Todos) 
			{
			<tr>

				<td>
					@Html.DisplayFor(modelItem => item.Synopsis)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AssignedTo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Done)
				</td>
       <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
			</tr>
			}
		</tbody>
	</table>
</div>

<div class=" footer-button-row">
	<div class="button-container text-right">
		@Html.ActionLink("Back to Subjects", "Index", "Subject", null, new {@class="pull-left"})
		<a asp-action="Create">Create New</a>
	</div>
</div>

