@model Fugitive4.Web.ViewModels.Address.AddressVm

@{
    ViewBag.Title = "Edit Address";
}

<form asp-action="Edit"  asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="Address" asp-action="Index">Cancel</a>
				<input type="submit" value="Edit" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="SubjectId" />
            <div class="row">
                <!-- Start .row 1 -->
                <div class="form-group col-md-3">
                    <label asp-for="AddressTypeId" class="control-label"></label>
                    <div>
                        <select asp-for="AddressTypeId" asp-items="@(new SelectList(Model.AddressTypeList, "Value", "Text"))"></select>
                    </div>
                    <span asp-validation-for="AddressTypeId" class="text-danger" />
                </div>
                <div class="form-group col-md-9">
                    <input asp-for="BelongsToSubject" />
                    <label asp-for="BelongsToSubject" class="control-label"></label>
                    <span asp-validation-for="BelongsToSubject" class="text-danger" />
                </div>
            </div><!-- END .row 1 -->
            <div class="row">
                <!-- Start .row 2 -->
                <div class="form-group col-md-3">
                    <label asp-for="Address1" class="control-label"></label>
                    <input asp-for="Address1" class="form-control" />
                    <span asp-validation-for="Address1" class="text-danger" />
                </div>
                <div class="form-group col-md-9">
                    <label asp-for="Address2" class="control-label"></label>
                    <input asp-for="Address2" class="form-control" />
                    <span asp-validation-for="Address2" class="text-danger" />
                </div>
            </div><!-- END .row 2 -->
            <div class="row">
                <!-- Start .row 3 -->
                <div class="form-group col-md-12">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger" />
                </div>
            </div><!-- END .row 3 -->
            <div class="row">
                <!-- Start .row 4 -->
                <div class="form-group col-md-2">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger" />
                </div>
                <div class="form-group col-md-10">
                    <label asp-for="Zipcode" class="control-label"></label>
                    <input asp-for="Zipcode" class="form-control" />
                    <span asp-validation-for="Zipcode" class="text-danger" />
                </div>
            </div><!-- END .row 4 -->
            <div class="row">
                <!-- Start .row 5 -->
                <div class="form-group col-md-12">
                    <label asp-for="Notes" class="control-label"></label>
                    <textarea asp-for="Notes" rows="10" class="form-control" style="min-width: 100%"></textarea>
                    <span asp-validation-for="Notes" class="text-danger" />
                </div>
            </div><!-- END .row 5 -->
		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a asp-controller="Address" asp-action="Index">Cancel</a>
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        (function(){
            $("#AddressTypeId").chosen();
            tinymce.init({ selector: '#Notes' });
        })();
    </script>

}
