@model Fugitive4.Web.ViewModels.Address.AddressListVm

@{
    ViewBag.Title = "Manage Address";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-default">
	<table class="table table-striped">
		<thead>
			<tr>
                <th>
                    @Html.DisplayNameFor(model => model.Addresses.FirstOrDefault().BelongsToSubject)
                </th>
				<th>
					@Html.DisplayNameFor(model => model.Addresses.FirstOrDefault().Address1)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Addresses.FirstOrDefault().Address2)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Addresses.FirstOrDefault().City)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Addresses.FirstOrDefault().State)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Addresses.FirstOrDefault().Zipcode)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Addresses.FirstOrDefault().Notes)
				</th>

				<th></th>	
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Addresses) 
			{
			<tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BelongsToSubject)
                </td>
				<td>
					@Html.DisplayFor(modelItem => item.Address1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address2)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.State)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Zipcode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Notes)
				</td>

       <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
			</tr>
			}
		</tbody>
	</table>
</div>

<div class=" footer-button-row">
	<div class="button-container text-right">
		@Html.ActionLink("Back to Subjects", "Index", "Subject", null, new {@class="pull-left"})
		<a asp-action="Create">Create New</a>
	</div>
</div>

