﻿@using Microsoft.Data.Entity.Query.Expressions
@model Fugitive4.Web.ViewModels.BailBond.BailBondVm
@functions{

        public string SetBackground(int spanNumber, string css)
        {
            if (Model != null && Model.DefaultDate.HasValue)
            {
                var month = 7 - spanNumber;
                var days = month * 30;//I know this isn't exact
                var daysLeft = (Model.DefaultDate.Value - DateTime.Now).Days;
                if (daysLeft < days)
                {
                    return css;
                }
            }
            return "";
        }

}
@if (Model != null && @Model.DefaultDate.HasValue)
{
    <div class="col-xs-12" style="color: red">
        <h2>
            @Model.DefaultDate.Value.ToString("dddd MMMM d")
        </h2>
    </div>
}
<div class="col-xs-12" >
    <span class="col-xs-2" style="border-right: thin solid black;@SetBackground(1,"background-color:green;")">&nbsp;</span>
    <span class="col-xs-2" style="border-right: thin solid black;@SetBackground(2,"background-color:#66ff66;")">&nbsp;</span>
    <span class="col-xs-2" style="border-right: thin solid black;@SetBackground(3,"background-color:gold;")">&nbsp;</span>
    <span class="col-xs-2" style="border-right: thin solid black;@SetBackground(4,"background-color:yellow;")">&nbsp;</span>
    <span class="col-xs-2" style="border-right: thin solid black;@SetBackground(5,"background-color:#ff5050")">&nbsp;</span>
    <span class="col-xs-2" style="@SetBackground(6,"background-color:red;")">&nbsp;</span>
</div>

