@model Fugitive4.Web.ViewModels.BailBond.BailBondVm

@{
    ViewBag.Title = "Delete BailBond";
}


<div class="row title-row">
	<h1 class="pull-left">@ViewBag.Title</h1>

	<div class="button-container pull-right h1-row text-right">
		<form asp-action="Delete">
			<div class="form-actions no-color">
				<input type="submit" value="Delete" class="btn btn-default" /> |
				<a asp-action="Index">Back to List</a>
			</div>
		</form>
	</div>
</div>

<div class="content-wrapper">

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="alert alert-danger clearfix">
				<p class="pull-left">Are you sure you want to delete this BailBond?</p>
			</div>
			<!-- END .alert -->

			<div>
				<dl class="section-spacing clearfix dl-inline-dd dl-inline-label-right">
 
					<dt>@Html.DisplayNameFor(model => model.OriginalArrestDate)</dt>
					<dd>@Html.DisplayFor(model => model.OriginalArrestDate)</dd>

					<dt>@Html.DisplayNameFor(model => model.IssueDate)</dt>
					<dd>@Html.DisplayFor(model => model.IssueDate)</dd>

					<dt>@Html.DisplayNameFor(model => model.DefaultDate)</dt>
					<dd>@Html.DisplayFor(model => model.DefaultDate)</dd>

					<dt>@Html.DisplayNameFor(model => model.IssuingBondsman)</dt>
					<dd>@Html.DisplayFor(model => model.IssuingBondsman)</dd>

					<dt>@Html.DisplayNameFor(model => model.IssuingBondCompany)</dt>
					<dd>@Html.DisplayFor(model => model.IssuingBondCompany)</dd>

					<dt>@Html.DisplayNameFor(model => model.Court)</dt>
					<dd>@Html.DisplayFor(model => model.Court)</dd>

					<dt>@Html.DisplayNameFor(model => model.Description)</dt>
					<dd>@Html.DisplayFor(model => model.Description)</dd>

					<dt>@Html.DisplayNameFor(model => model.SubjectId)</dt>
					<dd>@Html.DisplayFor(model => model.SubjectId)</dd>

					<dt>@Html.DisplayNameFor(model => model.BookingNumber)</dt>
					<dd>@Html.DisplayFor(model => model.BookingNumber)</dd>

					<dt>@Html.DisplayNameFor(model => model.BondAmount)</dt>
					<dd>@Html.DisplayFor(model => model.BondAmount)</dd>

				</dl>

				@Html.HiddenFor(model=>model.Id)
				@Html.HiddenFor(model=>model.OriginalArrestDate)
				@Html.HiddenFor(model=>model.IssueDate)
				@Html.HiddenFor(model=>model.DefaultDate)
				@Html.HiddenFor(model=>model.IssuingBondsman)
				@Html.HiddenFor(model=>model.IssuingBondCompany)
				@Html.HiddenFor(model=>model.Court)
				@Html.HiddenFor(model=>model.Description)
				@Html.HiddenFor(model=>model.SubjectId)
				@Html.HiddenFor(model=>model.BookingNumber)
				@Html.HiddenFor(model=>model.BondAmount)
				<div class="button-container top-hr text-right">    
					<form asp-action="Delete">
						<div class="form-actions no-color">
							<input type="submit" value="Delete" class="btn btn-default" /> |
							<a asp-action="Index">Back to List</a>
						</div>
					</form>   
				</div>

			</div>
		</div>
	</div>
</div>
<!-- END .content-wrapper -->



