@model Fugitive4.Web.ViewModels.BailBond.BailBondVm

@{
    ViewBag.Title = "BailBond Detail";
}
<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
			<div class="row">
				<div class="col-md-6">
			        <div class="pull-right">
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
			        </div>
								<div class="form-group">
									<label asp-for="OriginalArrestDate" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.OriginalArrestDate)
					
					</div>
								<div class="form-group">
									<label asp-for="IssueDate" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.IssueDate)
					
					</div>
								<div class="form-group">
									<label asp-for="DefaultDate" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.DefaultDate)
					
					</div>
								<div class="form-group">
									<label asp-for="IssuingBondsman" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.IssuingBondsman)
					
					</div>
								<div class="form-group">
									<label asp-for="IssuingBondCompany" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.IssuingBondCompany)
					
					</div>
								<div class="form-group">
									<label asp-for="Court" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Court)
					
					</div>
								<div class="form-group">
									<label asp-for="Description" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.Description)
					
					</div>
								<div class="form-group">
									<label asp-for="SubjectId" class="col-md-2 control-label"></label>
									<div class="col-md-10">
							@Html.DisplayFor(model => model.SubjectId)
						</div>
					
					</div>
								<div class="form-group">
									<label asp-for="BookingNumber" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.BookingNumber)
					
					</div>
								<div class="form-group">
									<label asp-for="BondAmount" class="col-md-2 control-label"></label>
									@Html.DisplayFor(model => model.BondAmount)
					
					</div>
						
				</div>
				<!-- END .col -->
			</div>
			<!-- END .row -->

		</div>
	</div>
</div>
<!-- END .content-wrapper -->
   
<div>
    <a asp-controller="BookingCharge"
       asp-action="Index"
       asp-route-bailbondid="@Model.Id">
        View BookingCharges
    </a>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
