@using Microsoft.ApplicationInsights.AspNet.Extensions
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@model Fugitive4.Web.ViewModels.BailBond.BailBondVm

@{
    ViewBag.Title = "Edit BailBond";
}

<form asp-action="Edit" asp-route-returnUrl="@ViewBag.ReturnUrl">    
	<div class="form-horizontal">
		<div class="row title-row">
			<h1 class="pull-left">@ViewBag.Title</h1>

			<div class="button-container pull-right h1-row text-right">
				<a asp-controller="BailBond" asp-action="Index">Cancel</a>
				<input type="submit" value="Edit" class="btn btn-default" />
			</div>
		</div>

<div class="content-wrapper">
	<div class="panel panel-default">
		<div class="panel-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="SubjectId" />
            <div class="row">
                <!-- Start .row 1-->
                <div class="form-group col-md-4">
                    <label asp-for="DefaultDate" class="control-label"></label>
                    <input asp-for="DefaultDate" class="form-control" />
                    <span asp-validation-for="DefaultDate" class="text-danger" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="IssueDate" class="control-label"></label>
                    <input asp-for="IssueDate" class="form-control" />
                    <span asp-validation-for="IssueDate" class="text-danger" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="OriginalArrestDate" class="control-label"></label>
                    <input asp-for="OriginalArrestDate" class="form-control" />
                    <span asp-validation-for="OriginalArrestDate" class="text-danger" />
                </div>
            </div><!-- END .row 1-->
            <div class="row">
                <!-- Start .row 2-->
                <div class="form-group col-md-4">
                    <label asp-for="BookingNumber" class="control-label"></label>
                    <input asp-for="BookingNumber" class="form-control" />
                    <span asp-validation-for="BookingNumber" class="text-danger" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="BondAmount" class="control-label"></label>
                    <input asp-for="BondAmount" class="form-control" />
                    <span asp-validation-for="BondAmount" class="text-danger" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Court" class="control-label"></label>
                    <input asp-for="Court" class="form-control" />
                    <span asp-validation-for="Court" class="text-danger" />
                </div>
            </div><!-- END .row 2-->
            <div class="row">
                <!-- Start .row 3-->
                <div class="form-group col-md-4">
                    <label asp-for="IssuingBondCompany" class="control-label"></label>
                    <input asp-for="IssuingBondCompany" class="form-control" />
                    <span asp-validation-for="IssuingBondCompany" class="text-danger" />
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="IssuingBondsman" class="control-label"></label>
                    <input asp-for="IssuingBondsman" class="form-control" />
                    <span asp-validation-for="IssuingBondsman" class="text-danger" />
                </div>
            </div><!-- END .row 3-->
            <div class="row">
                <!-- Start .row 4-->
                <div class="form-group col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div><!-- END .row 4-->
            <div class="row">
					<div class="form-group col-md-6">
						<label asp-for="PaymentAmount" class="control-label"></label>
						<input asp-for="PaymentAmount" class="form-control"/>
					
						<span asp-validation-for="PaymentAmount" class="text-danger" />
					</div>
					<div class="form-group col-md-6">
						<label asp-for="PaymentDate" class="control-label"></label>
						<input asp-for="PaymentDate" class="form-control"/>
					
						<span asp-validation-for="PaymentDate" class="text-danger" />
					</div>
				</div>
			<div class="row">
					<div class="form-group col-md-12">
				
						<input asp-for="Done" class="form-control"/>
						<label asp-for="Done" class="control-label"></label>
					
						<span asp-validation-for="Done" class="text-danger" />
					</div>
		
		</div>
	</div>
</div>
<!-- END .content-wrapper -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<a asp-controller="BailBond" asp-action="Index">Cancel</a>
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.RouteLink("", "SubjectCreate", new { bailBondId = Model.Id, relatedSubjectId = Model.SubjectId, returnUrl = ViewBag.ReturnUrl }, new { @class = "glyphicon glyphicon-plus", title = "Signors" })
    @Html.RouteLink("View Signors", "SubjectIndex", new {bailBondId = Model.Id, returnUrl = ViewBag.ReturnUrl })
</div>
<div>
    <a asp-controller="BookingCharge"
       asp-action="Index"
       asp-route-bailbondid="@Model.Id">
        View BookingCharges
    </a>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
