@model Fugitive4.Web.ViewModels.BailBond.BailBondListVm

@{
    ViewBag.Title = "Manage BailBond";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-default">
	<table class="table table-striped">
		<thead>
		<tr>
            <th>
                @Html.DisplayNameFor(model => model.BailBonds.FirstOrDefault().IssuingBondCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BailBonds.FirstOrDefault().IssuingBondsman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BailBonds.FirstOrDefault().Court)
            </th>
		    @*<th>
		        @Html.DisplayNameFor(model => model.BailBonds.FirstOrDefault().OriginalArrestDate)
		    </th>
		    <th>
		        @Html.DisplayNameFor(model => model.BailBonds.FirstOrDefault().IssueDate)
		    </th>*@
		    <th>
		        @Html.DisplayNameFor(model => model.BailBonds.FirstOrDefault().DefaultDate)
		    </th>

		    @*<th>
		        @Html.DisplayNameFor(model => model.BailBonds.FirstOrDefault().Description)
		    </th>
		    <th>
		        @Html.DisplayNameFor(model => model.BailBonds.FirstOrDefault().SubjectId)
		    </th>
		    <th>
		        @Html.DisplayNameFor(model => model.BailBonds.FirstOrDefault().BookingNumber)
		    </th>*@
		    <th>
		        @Html.DisplayNameFor(model => model.BailBonds.FirstOrDefault().BondAmount)
		    </th>

		    <th></th>
		</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.BailBonds) 
			{
			<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IssuingBondCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssuingBondsman)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Court)
                </td>
				@*<td>
					@Html.DisplayFor(modelItem => item.OriginalArrestDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IssueDate)
				</td>*@
			    <td>
			        @(item.DefaultDate.HasValue ? item.DefaultDate.Value.ToString("M/d/yy"):"")
			    </td>

				@*<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SubjectId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BookingNumber)
				</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.BondAmount)
				</td>

       <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
			</tr>
			}
		</tbody>
	</table>
</div>

<div class=" footer-button-row">
	<div class="button-container text-right">
		@Html.ActionLink("Back to Subjects", "Index", "Subject", null, new {@class="pull-left"})
		<a asp-action="Create">Create New</a>
	</div>
</div>

